
	
		<div class="col-md-12 text-center">
			<%= link_to "< ", admins_path, class: 'btn btn-default' %>
			<%= link_to 'ADD A NEW JOB', new_job_path, class: 'btn btn-success' %>
		</div>

	<div class=" text-center marginTop100">
		<% @jobs.each do |job| %>
			<div class="col-sm-4 col-xs-6 text-center">
				<div class="career-logo-div">
					<%= link_to job_path(job.id) do %>
						<%= image_tag job.image.url, class: 'career-logo' %>
					<% end %>
				</div>
				<br><br>
				<p><strong><%= job.job_title %></strong></p>
				<br><br>
				<%= link_to 'Post', '', class: "btn btn-info" %>
				<%= link_to 'Edit', edit_job_path(job.id), class: "btn btn-primary" %>
				<%= link_to 'DELETE', { controller: 'jobs', action: 'destroy', id: job.id }, method: :delete, class: 'btn btn-danger' %>
			</div>
		<% end %>
	</div>


	

	
