<% @page_title = 'Resources' %>
<section id="why-us-section-1">
	<%= image_tag 'why-us-intro.png', class: 'marginTopIntro' %>
</section>

<section id="why-us-section-2">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h3><span class="light">SOME THINGS ARE FOREVER.</span> <strong>WHY NOT YOUR DATA?</strong></h3>
				<hr>
				<br><br>
				<p class="text-left lead high-line">Some people just don’t get it. They don’t see the <strong class="big">importance</strong> of data storage, to them it’s just another tech industry. <strong class="big">But you know the truth</strong>. Every decision, from executive orders to what you’re having for dinner relies on information retrieval and processing. Data is important. <strong class="big">It’s what helps define us as a species</strong>. That’s why we’ve made it our mission to provide faster, more <strong class="big">efficient</strong> data storage at a price point that’s on-budget. We’re driven by data, constantly seeking new, more effective ways to store and manage it. <strong class="big">Why?</strong> Because you need it. And we want to change the world one byte at a time. So say goodbye to slow, expensive and unwieldy data storage systems. <strong class="big">The future belongs to Open Drives</strong>. Won’t you come with us?</p>
			</div>
		</div>
	</div>
</section>

<section id="why-us-section-3" class="full-height">
	<div class="container">
		<div class="row marginTop100">
			<div class="col-md-12 text-center">
				<h3><span class="light">OPENDRIVES IS MILES</span> <strong>ABOVE COMPETITION</strong></h3>
				<hr>
			</div>
		</div>
	</div>
	<div class="container custom-container">
		<div class="row marginTop50">
			<div class="col-md-6 black box">
				<div class="col-md-4 text-center">
					<%= image_tag 'why-us-lightning-logo.png' %>
					<br><br>
					<p>MIND-BLOWING<br> SPEED</p>
				</div>
				<div class="col-md-8">
					<p class="lead high-line">OpenDrives gives you benchmark-shattering speed through a combination of proprietary software and hardware. Working together, they maximize <span class="blue">performance</span> to give you speed no one else can come close to.</p>
				</div>
			</div>
			<div class="col-md-6 box">
				<div class="col-md-4 text-center">
					<%= image_tag 'why-us-lock-logo.png' %>
					<br><br>
					<p>LOCKDOWN<br> SECURITY</p>
				</div>
				<div class="col-md-8">
					<p class="lead high-line">Because your data is secured on hardware at your location, you have greater <span class="blue">control</span> over it. OpenDrives lets you eliminate the potential leaks and security threats that come with other forms of storage.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 box">
				<div class="col-md-4 text-center">
					<%= image_tag 'why-us-double-check-logo.png' %>
					<br><br>
					<p>RELIABILITY YOU<br> CAN COUNT ON</p>
				</div>
				<div class="col-md-8">
					<p class="lead high-line">OpenDrives has built-in replication and mirroring processes that ensure your data is <span class="blue">protected</span>. OpenDrives utilizes in-flight corruption correction and power-loss corruption prevention on a fully check-summed file system to deliver industry-leading data integrity and protection.</p>
				</div>
			</div>
			<div class="col-md-6 black box long-box">
				<div class="col-md-4 text-center">
					<%= image_tag 'why-us-dollar-logo.png' %>
					<br><br>
					<p>PREMIER<br> VALUE</p>
				</div>
				<div class="col-md-8">
					<p class="lead high-line">By offering superior performance at half the price, OpenDrives gives you the absolute best bang for your buck. Stop choosing between the storage you need and the storage you can <span class="blue">afford</span>. OpenDrives gives you both.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="why-us-section-4">
	<div class="container">
		<div class="row marginTop100">
			<div class="col-md-6 marginTop100">
				<h3>THE TOTAL PACKAGE</h3>
				<hr>
				<br><br>
				<p class="lead huge"><span class="light">IN ADDITION TO ALL OF THIS,</span> <strong>OPENDRIVES</strong> <span class="light">ALSO GIVES YOU</span></p>
			</div>
			<div class="col-md-6">
				<%= image_tag 'bigdrive2.png' %>
			</div>
		</div>
		<div class="row marginTopBottom100">
			<% @datas.each do |data| %>
				<div class="col-md-4">
					<% data.each do |d| %>
						<div class="col-md-2">
							<%= image_tag 'check.png', class: "check-image" %>
						</div>
						<div class="col-md-10">
							<p><%= d %></p>
						</div>
						<br><br>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</section>

<section id="why-us-section-5">
	<div class="container">
		<div class="row marginTop50">
			<div class="col-md-12 text-center">
				<h2><span class="light">OUR</span> TEAM</h2>
				<hr>
			</div>
		</div>
	</div>
	<div class="why-us-section-5-background-div full-height-twice marginTop50">
		<div class="container">
			<div class="row">
				<div class="col-md-12 employee-carousel-anchor">
					<div class="employee-carousel">
						<div class="padding-top"><%= image_tag 'why-us-testy.png' %></div>
						<div class="padding-top"><%= image_tag 'why-us-testy.png' %></div>
						<div class="padding-top"><%= image_tag 'why-us-testy.png' %></div>
						<div class="padding-top"><%= image_tag 'why-us-testy.png' %></div>
					</div>
					<%= image_tag 'carousel-left-arrow.png', class: "carousel-arrow carousel-left-arrow" %>
					<%= image_tag 'carousel-right-arrow.png', class: "carousel-arrow carousel-right-arrow" %>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="why-us-section-6">
	<div class="container">
		<div class="row marginTopBottom100">
			<div class="col-md-12">
				<h2 class="text-center"><span class="light">OUR</span> HISTORY</h2>
				<hr>
				<br><br>
				<p>OpenDrives was founded in 2009 by CTOs of visual effects companies, post-production facilities, and production companies who were frustrated by the lack of performance in traditional digital storage. We wanted to create a faster data storage system to accommodate the increasing throughput and IOPS demands of higher-resolution workflows. So we did. And we called it OpenDrives.</p><br>
				<p>After successfully solving our internal needs, we began to productize the technology, file for patents, and mass-produce OpenDrives data storage products. We grew from a few passionate individuals serving internal needs to having worldwide coverage with customers as far as Toronto and London—never straying from our focus and commitment to delivering industry-leading performance at a price point that’s on-budget.</p><br>
				<p>Our team’s subject matter expertise in media &amp; entertainment workflows enables us to provide a level of targeted service and support that general storage companies simply don’t have the experience to provide. Our highly efficient storage solutions empower the imagination and insight of professionals wherever performance, flexibility and reliability are paramount. The future of data belongs to OpenDrives. Won’t you join us?</p>
			</div>
		</div>
	</div>
</section>





