<% @page_title = 'Why Us' %>
<div id="why-us-section-1">
	<%= image_tag 'why-us-intro.png', class: 'marginTopIntro' %>
	<div class="phrase-1 phrase light">
		TO SOME
	</div>
	<div class="phrase-2 phrase light">
		PEOPLE, IT'S
	</div>
	<div class="phrase-3 phrase">
		<span class="light">JUST</span> DATA
	</div>
	<div class="phrase-4 phrase">
		STORAGE.
	</div>
	<div class="phrase-5 phrase">
		<hr>
	</div>
	<div class="phrase-6 phrase-right light">
		AND TO SOME PEOPLE,
	</div>
	<div class="phrase-7 phrase-right">
		MT.EVEREST <span class="light">IS JUST A</span>
	</div>
	<div class="phrase-8 phrase-right light">
		BIG ROCK.
	</div>
</div>

<div id="why-us-section-2">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2><span class="light">SOME THINGS ARE FOREVER.</span> WHY NOT YOUR DATA?</h2>
				<hr class="hr-anim-why-us-section-2">
				<br><br>
				<p class="text-left"><span class="opacity">Some people just don’t get it. They don’t see the</span> <strong class="big">importance</strong><span class="opacity"> of data storage, to them it’s just another tech industry.</span> <strong class="big">But you know the truth</strong><span class="opacity">. Every decision, from executive orders to what you’re having for dinner relies on information retrieval and processing. Data is important.</span> <strong class="big">It’s what helps define us as a species</strong><span class="opacity">. That’s why we’ve made it our mission to provide faster, more</span> <strong class="big">efficient</strong><span class="opacity"> data storage at a price point that’s on-budget. We’re driven by data, constantly seeking new, more effective ways to store and manage it.</span> <strong class="big">Why?</strong> <span class="opacity">Because you need it. And we want to change the world one byte at a time. So say goodbye to slow, expensive and unwieldy data storage systems.</span> <strong class="big">The future belongs to Open Drives</strong><span class="opacity">. Won’t you come with us?</span></p>
			</div>
		</div>
	</div>
</div>

<div id="why-us-section-3">
	<div class="container">
		<div class="row marginTop100">
			<div class="col-md-12 text-center">
				<h2><span class="light">OPENDRIVES IS MILES</span> ABOVE COMPETITION</h2>
				<hr class="hr-anim-why-us-section-3">
			</div>
		</div>
	</div>
	<div class="container custom-container">
		<div class="row marginTop50">
			<div class="col-sm-6 black box box-left">
				<div class="col-sm-3 col-sm-offset-1 text-center">
					<%= image_tag 'why-us-lightning-logo.png' %>
					<br><br>
					<p><strong>MIND-BLOWING<br> SPEED</strong></p>
				</div>
				<div class="col-sm-6">
					<p class="lead high-line">OpenDrives gives you benchmark-shattering speed through a combination of proprietary software and hardware. Working together, they maximize <span class="blue">performance</span> to give you speed no one else can come close to.</p>
				</div>
			</div>
			<div class="col-sm-6 box box-right">
				<div class="col-sm-3 col-sm-offset-1 text-center">
					<%= image_tag 'why-us-lock-logo.png' %>
					<br><br>
					<p><strong>LOCKDOWN<br> SECURITY</strong></p>
				</div>
				<div class="col-sm-6">
					<p class="lead high-line">Because your data is secured on hardware at your location, you have greater <span class="blue">control</span> over it. OpenDrives lets you eliminate the potential leaks and security threats that come with other forms of storage.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 box switch-to-black box-left1">
				<div class="col-sm-3 col-sm-offset-1 text-center">
					<%= image_tag 'why-us-double-check-logo.png' %>
					<br><br>
					<p><strong>RELIABILITY YOU<br> CAN COUNT ON</strong></p>
				</div>
				<div class="col-sm-6">
					<p class="lead high-line">OpenDrives has built-in replication and mirroring processes that ensure your data is <span class="blue">protected</span>. OpenDrives utilizes in-flight corruption correction and power-loss corruption prevention on a fully check-summed file system to deliver industry-leading data integrity and protection.</p>
				</div>
			</div>
			<div class="col-sm-6 black box long-box switch-to-white box-right1">
				<div class="col-sm-3 col-sm-offset-1 text-center">
					<%= image_tag 'why-us-dollar-logo.png' %>
					<br><br>
					<p><strong>PREMIER<br> VALUE</strong></p>
				</div>
				<div class="col-sm-6">
					<p class="lead high-line">By offering superior performance at half the price, OpenDrives gives you the absolute best bang for your buck. Stop choosing between the storage you need and the storage you can <span class="blue">afford</span>. OpenDrives gives you both.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="why-us-section-4">
	<div class="container">
		<div class="row">
			<div class="col-md-6 marginTop200">
				<h3>THE TOTAL PACKAGE</h3>
				<hr class="hr-anim-why-us-section-4">
				<br><br>
				<p class="huge"><span class="light">IN ADDITION TO ALL OF THIS,</span> <strong>OPENDRIVES</strong> <span class="light">ALSO GIVES YOU</span></p>
			</div>
			<div class="col-md-6">
				<%= image_tag 'bigdrive2.png' %>
			</div>
		</div>
		<div class="row marginTopBottom100 trigger-overlay">
			<% @datas.each do |data| %>
				<div class="col-sm-4">
					<% data.each do |d| %>
						<div class="check-anchor-div">
							<%= image_tag 'check.png', class: "check-image" %>
							<div class="mini-overlay mini-overlay-black"></div>
						</div>
						<div class="col-xs-10">
							<p class="lead"><%= d %></p>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<div id="why-us-section-5">
	<div class="container-fluid">
		<div class="row marginTop50">
			<div class="col-md-6 col-md-offset-3 text-center">
				<h2><span class="light">OUR</span> TEAM</h2>
				<hr class="hr-anim-why-us-section-5">
			</div>
			<%= image_tag 'why-us-section-5-background-mobile.png', class: 'employee-group' %>
		</div>
	</div>
	<div class="why-us-section-5-background-div">
		<div class="container">
			<div class="row">
				<div class="col-md-12 employee-carousel-anchor hide-in-sm-mobile">
					<div class="employee-carousel">
						<div class="padding-top"><%= image_tag 'why-us-employee-chad.png' %></div>
						<div class="padding-top"><%= image_tag 'why-us-employee-sean.png' %></div>
						<div class="padding-top"><%= image_tag 'why-us-employee-michael.png' %></div>
						<div class="padding-top"><%= image_tag 'why-us-employee-paul.png' %></div>
						<div class="padding-top"><%= image_tag 'why-us-employee-nate.png' %></div>
						<div class="padding-top"><%= image_tag 'why-us-employee-scot.png' %></div>
						<div class="padding-top"><%= image_tag 'why-us-employee-mark.png' %></div>
					</div>
					<%= image_tag 'carousel-left-arrow.png', class: "carousel-arrow carousel-left-arrow hide-in-sm-mobile" %>
					<%= image_tag 'carousel-right-arrow.png', class: "carousel-arrow carousel-right-arrow hide-in-sm-mobile" %>
				</div>
				<div class="col-md-12 hide-in-sm-desktop">
					<%= render 'mobile_employee_pic', img: 'why-us-employee-chad' %>
					<%= render 'mobile_employee_pic', img: 'why-us-employee-sean' %>
					<%= render 'mobile_employee_pic', img: 'why-us-employee-michael' %>
					<%= render 'mobile_employee_pic', img: 'why-us-employee-paul' %>
					<%= render 'mobile_employee_pic', img: 'why-us-employee-nate' %>
					<%= render 'mobile_employee_pic', img: 'why-us-employee-scot' %>
					<%= render 'mobile_employee_pic', img: 'why-us-employee-mark' %>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="why-us-section-6">
	<div class="container">
		<div class="row marginTopBottom100">
			<div class="col-md-12">
				<h2 class="text-center"><span class="light">OUR</span> HISTORY</h2>
				<hr class="hr-anim-why-us-section-6">
				<br><br>
				<p class="anim">OpenDrives was founded in 2009 by CTOs of visual effects companies, post-production facilities, and production companies who were frustrated by the lack of performance in traditional digital storage. We wanted to create a faster data storage system to accommodate the increasing throughput and IOPS demands of higher-resolution workflows. So we did. And we called it OpenDrives.</p><br>
				<p class="lead anim">After successfully solving our internal needs, we began to productize the technology, file for patents, and mass-produce OpenDrives data storage products. We grew from a few passionate individuals serving internal needs to having worldwide coverage with customers as far as Toronto and London—never straying from our focus and commitment to delivering industry-leading performance at a price point that’s on-budget.</p><br>
				<p class="lead anim">Our team’s subject matter expertise in media &amp; entertainment workflows enables us to provide a level of targeted service and support that general storage companies simply don’t have the experience to provide. Our highly efficient storage solutions empower the imagination and insight of professionals wherever performance, flexibility and reliability are paramount. The future of data belongs to OpenDrives. Won’t you join us?</p>
			</div>
		</div>
	</div>
</div>





