<% @page_title = 'Why OpenDrives' %>
<div id="why-us-section-1">
	<%= image_tag 'why-us-intro.png', class: 'marginTopIntro' %>
	<div class="phrase-1 phrase light">
		to some
	</div>
	<div class="phrase-2 phrase light">
		people, it's
	</div>
	<div class="phrase-3 phrase medium">
		<span class="light">just</span> data
	</div>
	<div class="phrase-4 phrase medium">
		storage.
	</div>
	<div class="phrase-5 phrase">
		<hr>
	</div>
	<div class="phrase-6 phrase-right light">
		and to some people,
	</div>
	<div class="phrase-7 phrase-right medium">
		mt. everest <span class="light">is just a</span>
	</div>
	<div class="phrase-8 phrase-right light">
		big rock.
	</div>
</div>

<div id="resources-section-2">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h2><span class="light">Our #1 priority</span> is you!</h3>
				<hr class="hr-anim-resources-section-2">
			</div>
			<div class="col-md-12 text-center">
				<br><br>
				<p><span class="resources-opacity">OpenDrives delivers</span> <strong class="big">advanced technical support</strong><span class="resources-opacity"> from industry professionals with</span> <strong class="big">decades</strong> <span class="resources-opacity">of hands-on experience </span><strong class="big">building</strong><span class="resources-opacity"> facilities and</span><strong class="big">designing</strong><span class="resources-opacity"> workflows. Every member of the OpenDrives support team has the expertise needed to diagnose and resolve issues in a </span><strong class="big">timely and efficient manner</strong><span class="resources-opacity">. From post-production to VFX to motion picture and television production, our team of support engineers has been at the </span><strong class="big">forefront of media &amp; entertainment technology</strong><span class="resources-opacity">.  Because we know when it’s your data, "good enough" isn’t good enough.</span></p>
			</div>
		</div>
	</div>
</div>

<div id="resources-section-4">
	<div class="container">
		<div class="row marginTopBottom100">
			<div class="col-md-12 text-center">
				<h2><span class="light">superior support and</span> faster resolution</h2>
				<hr class="hr-anim-resources-section-4">
				<br><br>
				<p class="quote anim">“Out of all of the hardware and software vendors we use, OpenDrives hands down has the best support. OpenDrives has continually helped support our endeavors and what really sets them apart from the competition is their response time and knowledge. As a business owner, I feel confident with them on my team and taking care of those critical infrastructure issues so I can focus on what matters most, running my business."</p>
				<p><small>Gresham Lochner, Locktix</small></p>
			</div>
		</div>
	</div>
</div>

<div id="why-us-section-2">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2><span class="light">Speed.  Cost.</span> Simplicity</h2>
				<hr class="hr-anim-why-us-section-2">
				<br><br>
				<p class="text-left"><span class="opacity">Some people just don’t get it. They don’t see the</span> <strong class="big">importance</strong><span class="opacity"> of data storage, to them it’s just another technology.</span> <strong class="big">But you know the truth</strong><span class="opacity">. Every task, from ultra high resolution finishing to web content distribution relies on fast information retrieval and processing.</span><strong class="big"> Data is important.</strong> <span class="opacity">It’s what helps define us as a species. That’s why we’ve made it our mission to provide faster, more</span> <strong class="big">efficient</strong><span class="opacity"> data storage at a price point that’s on-budget. We’re driven by data, constantly seeking new, more effective ways to store and manage it.</span> <strong class="big">Why?</strong> <span class="opacity">Because you need it. We are changing the world one byte at a time. Say goodbye to slow, expensive and unwieldy data storage systems.</span> <strong class="big">The future belongs to OpenDrives</strong><span class="opacity">.</span></p>
			</div>
		</div>
	</div>
</div>

<div id="why-us-section-3">
	<div class="container">
		<div class="row marginTop100">
			<div class="col-md-12 text-center">
				<h2><span class="light">OpenDrives is miles</span> above the competition</h2>
				<hr class="hr-anim-why-us-section-3">
			</div>
		</div>
	</div>
	<div class="container custom-container">
		<div class="row marginTop50">
			<div class="col-md-6 black box box-left">
				<div class="col-md-3 col-md-offset-1 text-center">
					<%= image_tag 'why-us-lightning-logo.png' %>
					<br><br>
					<p class="bold">mind-blowing<br> speed</p>
				</div>
				<div class="col-md-6">
					<p class="lead high-line">OpenDrives gives you benchmark-shattering speed through a combination of proprietary software and hardware. Working together, they maximize <span class="heavy">performance</span> to give you speed no one else can come close to.</p>
				</div>
			</div>
			<div class="col-md-6 box box-right">
				<div class="col-md-3 col-md-offset-1 text-center">
					<%= image_tag 'why-us-lock-logo.png' %>
					<br><br>
					<p class="bold">lockdown<br> security</p>
				</div>
				<div class="col-md-6">
					<p class="lead high-line">Your intellectual property is valuable and you need to maintain <span class="heavy">control</span> over it. OpenDrives has been deployed in many secure instances that abide to the prevailing industry standards.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 box switch-to-black box-left1">
				<div class="col-md-3 col-md-offset-1 text-center">
					<%= image_tag 'why-us-double-check-logo.png' %>
					<br><br>
					<p class="bold">reliability you<br> can count on</p>
				</div>
				<div class="col-md-6">
					<p class="lead high-line">OpenDrives has built-in replication and mirroring processes that ensure your data is <span class="heavy">protected</span>. OpenDrives utilizes in-flight corruption correction and power-loss corruption prevention on a fully check-summed file system to deliver industry-leading data integrity and protection.</p>
				</div>
			</div>
			<div class="col-md-6 black box long-box switch-to-white box-right1">
				<div class="col-md-3 col-md-offset-1 text-center">
					<%= image_tag 'why-us-dollar-logo.png' %>
					<br><br>
					<p class="bold">premier<br> value</p>
				</div>
				<div class="col-md-6">
					<p class="lead high-line">By offering superior performance at half the price, OpenDrives gives you the absolute best bang for your buck. Stop choosing between the storage you need and the storage you can <span class="heavy">afford</span>. OpenDrives gives you both.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="why-us-section-4">
	<div class="container">
		<div class="row">
			<div class="col-md-6 marginTop200">
				<h3>the total package</h3>
				<hr class="hr-anim-why-us-section-4">
				<br><br>
				<p class="huge thin">In addition to all of this, <span class="medium">OpenDrives</span> also gives you</p>
			</div>
			<div class="col-md-6">
				<%= image_tag 'bigdrive2.png' %>
			</div>
		</div>
		<div class="row marginBottom100 trigger-overlay">
			<% @datas.each do |data| %>
				<div class="col-sm-4">
					<% data.each do |d| %>
						<div class="check-anchor-div">
							<%= image_tag 'check.png', class: "check-image" %>
							<div class="mini-overlay mini-overlay-black"></div>
						</div>
						<div class="col-xs-10">
							<p class="lead"><%= d %></p>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<div id="why-us-section-5">
	<div class="container-fluid">
		<div class="row marginTop50">
			<div class="col-md-6 col-md-offset-3 text-center">
				<h2><span class="light">our</span> team</h2>
				<hr class="hr-anim-why-us-section-5">
			</div>
		</div>
	</div>
	<div class="why-us-section-5-background-div">
		<div class="container">
			<div class="row">
				<div class="col-md-12 employee-carousel-anchor hide-in-sm-mobile">
					<div class="employee-carousel">
						<div class="padding-top">
							<%= image_tag 'why-us-employee-chad.png' %>
							<span class="employee-bio marginTop100">
								<h6>Our fearless leader</h6>
								<h5>Chad Knowles</h5>
								<p class="lead">CEO</p>
								<p>A 20-year veteran of the media and technology industry, Chad has held executive positions with EMC and Blue Chip media companies. A successful entrepreneur, he co-founded, built and profitably sold both an internet company and a adigital media software company.</p>
							</span>
						</div>
						<div class="padding-top">
							<%= image_tag 'why-us-employee-sean.png' %>
							<span class="employee-bio marginTop100">
								<h6>The glue</h6>
								<h5>Sean Lee</h5>
								<p class="lead">CTO</p>
								<p>An entertainment industry veteran with 20 years experience, Sean came to OpenDrives with decades of Production IT leadership including having held various executive positons at motion picture studios, production companies, post-production facilities and advertising agencies (where he was a client of OpenDrives). Sean has a unique understanding of the challenges clients are facing.</p>
							</span>
						</div>
						<div class="padding-top">
							<%= image_tag 'why-us-employee-michael.png' %>
							<span class="employee-bio marginTop100">
								<h6>The foundation</h6>
								<h5>Michael Wilsker</h5>
								<p class="lead">Platform Development</p>
								<p>With over 20 years’ experience designing and managing mission critical systems and networks, Michael has also worked to author and implement new technologies in the digital cinema world. He has provided guidance to the entertainment industry’s largest content owners and distributors as they develop and streamline digital workflows.</p>
							</span>
						</div>
						<div class="padding-top">
							<%= image_tag 'why-us-employee-paul.png' %>
							<span class="employee-bio marginTop100">
								<h6>The face man</h6>
								<h5>Paul Swanson</h5>
								<p class="lead">Regional Sales Director</p>
								<p>A veteran sales professional, Paul came to OpenDrives from Isilon, where he started with client accounts in the Pacific Northwest before rising through the ranks to join the Enterprise Sales Team in Southern California, focusing on media and entertainment. He is currently responsible for working with new prospective clients in determining the best ways for OpenDrives to create business value.</p>
							</span>
						</div>
						<div class="padding-top">
							<%= image_tag 'why-us-employee-nate.png' %>
							<span class="employee-bio marginTop100">
								<h6>The problem-solver</h6>
								<h5>Nate Carle</h5>
								<p class="lead">Head of Support</p>
								<p>Prior to joining OpenDrives, Nate was the head systems engineer for a large advertising agency. Coming from the media entertainment industry and having served in creative, marketing and management positions, he understands complex workflows. Before that, Nate was an undercover agent and had nearly every job known to man: from TV repairman to comic book writer. Nate has also held roles at ABC, Activision, IGN and even served as a firefighter and EMT; rest assured, you’re in good hands.</p>
							</span>
					</div>
						<div class="padding-top">
							<%= image_tag 'why-us-employee-scot.png' %>
							<span class="employee-bio marginTop100">
								<h6>The tech wiz</h6>
								<h5>Scot Gray</h5>
								<p class="lead">Principal Product Manager</p>
								<p>A technology architecture and product development veteran, with over 20 years’ experience, Scot hails from the large scale enterprise world of global finance with a focus on designing large scale, highly-available, highest-performance systems handling big data and real time analytics, often employing custom hardware and software solutions. Scot brings a proven approach to providing the best product experience for customers expecting superior quality, reliability and performance.</p>
							</span>
					</div>
						<div class="padding-top">
							<%= image_tag 'why-us-employee-mark.png' %>
							<span class="employee-bio marginTop100">
								<h6>The connector</h6>
								<h5>Mark Caswell</h5>
								<p class="lead">Regional Sales Director</p>
								<p>A veteran sales professional, Mark came to OpenDrives from Isilon, where he started with client accounts in the Pacific Northwest before rising through the ranks to join the Enterprise Sales Team in Southern California, focusing on media and entertainment. He is currently responsible for working with new prospective clients in determining the best ways for OpenDrives to create business value.</p>
							</span>
					</div>
					</div>
					<%= image_tag 'carousel-left-arrow.png', class: "carousel-arrow carousel-left-arrow hide-in-sm-mobile" %>
					<%= image_tag 'carousel-right-arrow.png', class: "carousel-arrow carousel-right-arrow hide-in-sm-mobile" %>
				</div>
				<div class="col-md-12 hide-in-sm-desktop">
					<%= render 'mobile_employee_pic', img: 'why-us-employee-chad', 
																					 title: 'Our fearless leader',
																					 name: 'Chad Knowles', 
																					 job_title: 'CEO',
																					 bio: 'A 20-year veteran of the media and technology industry, Chad has held executive positions with EMC and Blue Chip media companies. A successful entrepreneur, he co-founded, built and profitably sold both an internet company and a adigital media software company.', 
																					 short: true %>
					<%= render 'mobile_employee_pic', img: 'why-us-employee-sean', 
																					 title: 'The glue',
																					 name: 'Sean Lee', 
																					 job_title: 'CTO',
																					 bio: 'An entertainment industry veteran with 20 years experience, Sean came to OpenDrives with decades of Production IT leadership including having held various executive positons at motion picture studios, production companies, post-production facilities and advertising agencies (where he was a client of OpenDrives). Sean has a unique understanding of the challenges clients are facing.', 
																					 short: true %>
					<%= render 'mobile_employee_pic', img: 'why-us-employee-michael', 
																					 title: 'The foundation',
																					 name: 'Michael Wilsker', 
																					 job_title: 'Platform Development',
																					 bio: 'With over 20 years’ experience designing and managing mission critical systems and networks, Michael has also worked to author and implement new technologies in the digital cinema world. He has provided guidance to the entertainment industry’s largest content owners and distributors as they develop and streamline digital workflows.', 
																					 short: true %>
					<%= render 'mobile_employee_pic', img: 'why-us-employee-paul', 
																					 title: 'The face man',
																					 name: 'Paul Swanson', 
																					 job_title: 'Regional Sales Director',
																					 bio: 'A veteran sales professional, Paul came to OpenDrives from Isilon, where he started with client accounts in the Pacific Northwest before rising through the ranks to join the Enterprise Sales Team in Southern California, focusing on media and entertainment. He is currently responsible for working with new prospective clients in determining the best ways for OpenDrives to create business value.', 
																					 short: true %>
					<%= render 'mobile_employee_pic', img: 'why-us-employee-nate', 
																					 title: 'The problem-solver',
																					 name: 'Nate Carle', 
																					 job_title: 'Head of Support',
																					 bio: 'Prior to joining OpenDrives, Nate was the head systems engineer for a large advertising agency. Coming from the media entertainment industry and having served in creative, marketing and management positions, he understands complex workflows. Before that, Nate was an undercover agent and had nearly every job known to man: from TV repairman to comic book writer. Nate has also held roles at ABC, Activision, IGN and even served as a firefighter and EMT; rest assured, you’re in good hands.', 
																					 short: false %>
					<%= render 'mobile_employee_pic', img: 'why-us-employee-scot', 
																					 title: 'The tech wiz',
																					 name: 'Scot Gray', 
																					 job_title: 'Principal Product Manager',
																					 bio: 'A technology architecture and product development veteran, with over 20 years’ experience, Scot hails from the large scale enterprise world of global finance with a focus on designing large scale, highly-available, highest-performance systems handling big data and real time analytics, often employing custom hardware and software solutions. Scot brings a proven approach to providing the best product experience for customers expecting superior quality, reliability and performance.', 
																					 short: false %>
					<%= render 'mobile_employee_pic', img: 'why-us-employee-mark', 
																					 title: 'The connector',
																					 name: 'Mark Caswell', 
																					 job_title: 'Regional Sales Director',
																					 bio: 'A veteran sales professional, Mark came to OpenDrives from Isilon, where he started with client accounts in the Pacific Northwest before rising through the ranks to join the Enterprise Sales Team in Southern California, focusing on media and entertainment. He is currently responsible for working with new prospective clients in determining the best ways for OpenDrives to create business value.', 
																					 short: true %>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="why-us-section-6">
	<div class="container">
		<div class="row marginTopBottom100">
			<div class="col-md-12">
				<h2 class="text-center"><span class="light">our</span> history</h2>
				<hr class="hr-anim-why-us-section-6">
				<br><br>
				<p class="lead anim">OpenDrives was founded in 2009 by CTOs of visual effects companies, post-production facilities, and production companies who were frustrated by the lack of performance from traditional data storage providers. We wanted to create a faster data storage system to accommodate the increasing throughput and IOPS demands of higher-resolution workflows. So we did. And we called it OpenDrives.</p>
				<p class="lead anim">After successfully solving our internal needs, we began to productize the technology, file for patents, and mass-produce OpenDrives data storage products. We grew from a few passionate individuals solving their own problems to a team serving customers worldwide - never straying from our focus and our commitment to delivering industry-leading performance at a price point that’s on-budget.</p>
				<p class="lead anim">Our team’s expertise with media &amp; entertainment workflows enables us to provide a level of targeted service and support that general storage companies simply don’t have. Our highly efficient storage solutions empower the imagination and insight of professionals wherever performance, flexibility, and reliability are paramount. The future of data belongs to OpenDrives. Won’t you join us?</p>
			</div>
		</div>
	</div>
</div>





