<% @page_title = 'Case Interior - Gone Girl' %>
<div id="case-interior-gone-girl-section-1">
	<%= image_tag 'case-interior-gonegirl-intro.png', class: 'marginTopIntro' %>
</div>

<div id="case-interior-gone-girl-section-2" class="case-interior-section2">
	<div class="container">
		<div class="row marginTop100">
			<div class="col-sm-5 text-left">
				<h2><span class='light'>ABOUT</span><br class="hide-in-sm-mobile"> GONE GIRL</h2>
				<hr class="hr-anim-case-interior-section-2">
				<br><br>
				<p class="lead anim case-interior-1">Gone Girl is a psychological thriller from David Fincher and Twentieth Century Fox. Starring Ben Affleck and Rosamund Pike, the critically acclaimed adaptation of a #1 New York Times best-seller was the first film ever made using a 6K post-production workflow.</p>
			</div>
			<div class="col-sm-7 col-xs-6 xol-xs-offset-3">
				<br><br><br class="hide-in-sm-mobile"><br class="hide-in-sm-mobile">
				<%= image_tag 'bigdrive.png', class: 'big-drive-img case-interior-img-1 anim' %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center case-interior-2">
				<p class="quote anim">“We have used OpenDrives on several high-profile, cannot-fail projects including the first Studio 6K movie, Gone Girl. OpenDrives got us seemingly unachievable speeds and efficiencies. We like ambitious collaborators and their team fit the bill awesomely.”</p>
				<p><small>Peter Mavromates, Post Production Supervisor</small></p>
			</div>
		</div>
	</div>
</div>

<div id="case-interior-gone-girl-section-3" class="case-interior-section3">
	<div class="container">
		<div class="row marginTopBottom100">
			<div class="col-xs-6 col-sm-4 marginTop50">
				<%= image_tag 'iphone-gonegirl.png', class: 'case-interior-img-2 anim' %>
			</div>
			<div class="col-xs-12 col-sm-8">
				<h2><span class="light">THE </span>CHALLENGE</h2>
				<hr class="hr-anim-case-interior-section-3">
				<br><br>
				<p class="lead anim">Shooting Gone Girl in 6K meant Fox and Fincher needed a storage system that could meet demanding requirements. Playback of a single stream of 6K DPX files requires 1.6 gigabytes/second, performance no traditional centralized storage system could meet. Additionally, they needed to be able to apply real-time transformations on reframes, as cropping and reimporting would slow down their aggressive workflow.</p>
				<p class="lead anim">Additionally, Fox required concurrent editing, VFX and compositing of different shots without transferring back and forth between local workstation storage and the networked share. This meant the entire film had to be kept online and centralized throughout the creative process. To accommodate various disparate workflows and the comfort level of the creatives, the storage system had to work seamlessly with Mac and Windows devices.</p>
			</div>
		</div>
	</div>
</div>

<div id="case-interior-gone-girl-section-4" class="case-interior-section4">
	<div class="container">
		<div class="row marginTopBottom100">
			<div class="col-md-12 text-center">
				<h2><span class="light">THE</span> SOLUTION</h2>
				<hr class="hr-anim-case-interior-section-4">
				<br><br>
				<p class="text-left lead anim">OpenDrives Avalanche delivered the perfect solution. The only system that could deliver the playback requirements, Avalanche’s all-flash system allowed editors and visual effects artists to work on multiple projects on a centralized shared infrastructure. </p>
				<p class="text-left lead anim">Delivering coherent permissions and accessibility from both OSX and Windows workstations, Avalanche was self-contained in a single 4 Rack Unit controller that simplified deployment, maintenance and footprint.</p>
				<p class="text-left lead anim">VFX shots and composites were completed in-house and parallel to editing. OpenDrives’ creative fluidity allowed project files to be opened, recognized and adjusted on the fly.</p>
			</div>
		</div>
	</div>
</div>

<div id="case-interior-gone-girl-section-5" class="case-interior-section5">
	<div class="container">
		<div class="row marginBottom100">
			<div class="col-sm-6">
				<h2><span class="light">THE</span> RESULTS</h2>
				<hr class="hr-anim-case-interior-section-5">
				<br><br>
				<p class="lead anim">Avalanche ensured smooth scrubbing and playback, faster exporting and transcoding, and reincorporated completed composites <strong>200% faster</strong> than traditional render and replace workflows.</p>
				<p class="lead anim">In making Gone Girl, David Fincher and Fox pushed technologies and workflows to their limits.  The OpenDrives Avalanche was the only storage solution that could deliver both the performance demands and ensure the creatives were provided the tool set they needed focus on their process.</p>
			</div>
			<div class="col-sm-6 marginTop100">
				<%= image_tag 'case-interior-gonegirl-macbook.png', class: 'case-interior-img-3 anim' %>
			</div>	
		</div>
	</div>
</div>

<div id="case-interior-gone-girl-section-6">
	<div class="container">
		<div class="row marginTopBottom100">
			<div class="col-md-12 text-center">
				<p class="lead"><strong>Read more</strong> about how OpenDrives’ combined hardware and software brings VFX closer to editorial in this <strong>interview</strong> with OpenDrives founder Jeff Brue.</p>
				<br><br>
				<%= link_to('READ MORE <i class="fa fa-plus" aria-hidden="true"></i>'.html_safe, 'https://blogs.adobe.com/creativecloud/jeff-brue-engineers-production-pipeline-for-gone-girl/ ', class: 'link-with-border hvr-shutter-out-horizontal', target: '_blank') %>
			</div>
		</div>
	</div>
</div>



