<% @page_title = 'Case Interior - Gone Girl' %>
<section id="case-interior-gone-girl-section-1">
	<%= image_tag 'case-interior-gonegirl-intro.png', class: 'marginTopIntro' %>
</section>

<section id="case-interior-gone-girl-section-2">
	<div class="container">
		<div class="row marginTop200">
			<div class="col-sm-5 text-left">
				<h2><span class='light'>ABOUT</span><br> <strong>GONE GIRL</strong></h2>
				<hr class="hr-anim-400">
				<br><br>
				<p class="lead">Gone Girl is a psychological thriller from David Fincher and Twentieth Century Fox. Starring Ben Affleck and Rosamund Pike, the critically acclaimed adaptation of a #1 New York Times best-seller was the first film ever made using a 6K post-production workflow.</p>
			</div>
			<div class="col-sm-7">
				<br><br><br><br>
				<%= image_tag 'bigdrive.png', class: 'big-drive-img' %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<p class="quote">“We have used OpenDrives on several high-profile, cannot-fail projects including the first Studio 6K movie, Gone Girl. OpenDrives got us seemingly unachievable speeds and efficiencies. We like ambitious collaborators and their team fit the bill awesomely.”</p>
				<p><small>Peter Mavromates, Post Production Supervisor</small></p>
			</div>
		</div>
	</div>
</section>

<section id="case-interior-gone-girl-section-3" class="case-interior-section3">
	<div class="container">
		<div class="row marginTopBottom100">
			<div class="col-sm-4 marginTop50">
				<%= image_tag 'iphone-gonegirl.png' %>
			</div>
			<div class="col-sm-8">
				<h2><span class="light">THE </span><strong>CHALLENGE</strong></h2>
				<hr class="hr-anim-600">
				<br><br>
				<p class="lead">Shooting Gone Girl in 6K meant Fox and Fincher needed a storage system that could meet demanding requirements. Playback of a single stream of 6K DPX files requires 1.6 gigabytes/second, performance no traditional centralized storage system could meet. Additionally, they needed to be able to apply real-time transformations on reframes, as cropping and reimporting would slow down their aggressive workflow.</p>
				<p class="lead">Additionally, Fox required concurrent editing, VFX and compositing of different shots without transferring back and forth between local workstation storage and the networked share. This meant the entire film had to be kept online and centralized throughout the creative process. To accommodate various disparate workflows and the comfort level of the creatives, the storage system had to work seamlessly with Mac and Windows devices.</p>
			</div>
		</div>
	</div>
</section>

<section id="case-interior-gone-girl-section-4" class="full-height case-interior-section4">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center marginTop100">
				<h2><span class="light">THE</span> <strong>SOLUTION</strong></h2>
				<hr class="hr-anim-500">
				<br><br>
				<p class="text-left lead">OpenDrives Avalanche delivered the perfect solution. The only system that could deliver the playback requirements, Avalanche’s all-flash system allowed editors and visual effects artists to work on multiple projects on a centralized shared infrastructure. </p>
				<p class="text-left lead">Delivering coherent permissions and accessibility from both OSX and Windows workstations, Avalanche was self-contained in a single 4 Rack Unit controller that simplified deployment, maintenance and footprint.</p>
				<p class="text-left lead">VFX shots and composites were completed in-house and parallel to editing. OpenDrives’ creative fluidity allowed project files to be opened, recognized and adjusted on the fly.</p>
			</div>
		</div>
	</div>
</section>

<section id="case-interior-gone-girl-section-5" class="case-interior-section5">
	<div class="container">
		<div class="row marginBottom100">
			<div class="col-md-6">
				<h2><span class="light">THE</span> <strong>RESULTS</strong></h2>
				<hr class="hr-anim-450">
				<br><br>
				<p class="lead">Avalanche ensured smooth scrubbing and playback, faster exporting and transcoding, and reincorporated completed composites <strong>200% faster</strong> than traditional render and replace workflows.</p>
				<p class="lead">In making Gone Girl, David Fincher and Fox pushed technologies and workflows to their limits.  The OpenDrives Avalanche was the only storage solution that could deliver both the performance demands and ensure the creatives were provided the tool set they needed focus on their process.</p>
			</div>
			<div class="col-md-6 marginTop100">
				<%= image_tag 'case-interior-gonegirl-macbook.png' %>
			</div>	
		</div>
	</div>
</section>

<section id="case-interior-gone-girl-section-6">
	<div class="container">
		<div class="row marginTopBottom100">
			<div class="col-md-12 text-center">
				<p class="lead"><strong>Read more</strong> about how OpenDrives’ combined hardware and software brings VFX closer to editorial in this <strong>interview</strong> with OpenDrives founder Jeff Brue.</p>
				<br><br>
				<%= link_to((fa_icon "plus", text: "READ MORE", right: true), 'https://blogs.adobe.com/creativecloud/jeff-brue-engineers-production-pipeline-for-gone-girl/ ', class: 'link-with-border hvr-shutter-out-horizontal', target: '_blank') %>
			</div>
		</div>
	</div>
</section>



