<% @page_title = 'Careers' %>
<section id="career-section-1">
	<%= image_tag 'career-intro-image.png', class: "marginTopIntro" %>
	<div class="container">
		<div class="row">
			<div class="col-md-12 marginTop100 start_agame_anim">
				<p>Open Drives is all about <strong class="big">people</strong>. We believe in <strong class="big">results</strong>, <strong class="big">responsibility</strong> and <strong class="big">high-performance</strong>. In other words, we’re winners. And if you’re a winner, <strong class="big">we want you too</strong>.</p>
				<p>We know that <strong class="big">individuality matters</strong>, and that everyone’s situation is different. That’s why we encourage our team members to be themselves. We don’t care how you look, what you eat, or who your favorite baseball team is (as long as it’s not the Giants). We just want you to bring your A-game.</p>
				<p>We’re all about providing the <strong class="big">best possible work environment</strong>, so everyone can reach their full potential and meet their goals. Communication is important to us, and we encourage everyone to share their thoughts and opinions. Because that’s how <strong class="big">you get great results</strong>.</p>
			</div>
			<div class="col-md-12 text-center marginTop50">
				<p class="agame marginBottom100">BRING YOUR <span class="normal-big-normal blue">A-GAME</span></p>
			</div>
		</div>
	</div>
</div>

<section id="career-section-2" class="full-height">
	<div class="container">
		<div class="row marginTopBottom100">
			<div class="col-md-12 text-center">
				<h2><span class="light">LIFE AT </span>OPENDRIVES</h2>
				<hr class="hr-anim-career-life">
				<br>
				<h4>SOME OF THE BENEFITS</h4>
				<br><br><br>
			</div>
			<div class="col-sm-4">
				<div class="col-xs-2">
					<%= image_tag 'check.png', class: 'check-image' %>
				</div>
				<div class="col-xs-10">
					Medical, Dental, and Vision Benefits
				</div>
			</div>
			<div class="col-sm-4">
				<div class="col-xs-2">
					<%= image_tag 'check.png', class: 'check-image' %>
				</div>
				<div class="col-xs-10">
					Flexible Spending account
				</div>
			</div>
			<div class="col-sm-4">
				<div class="col-xs-2">
					<%= image_tag 'check.png', class: 'check-image' %>
				</div>
				<div class="col-xs-10">
					Employee Assistance Program
				</div>
			</div>
			<div class="col-sm-4">
				<div class="col-xs-2">
					<%= image_tag 'check.png', class: 'check-image' %>
				</div>
				<div class="col-xs-10">
					Flexible Vacation Days
				</div>
			</div>
			<div class="col-sm-4">
				<div class="col-xs-2">
					<%= image_tag 'check.png', class: 'check-image' %>
				</div>
				<div class="col-xs-10">
					Maternity Leave
				</div>
			</div>
			<div class="col-sm-4">
				<div class="col-xs-2">
					<%= image_tag 'check.png', class: 'check-image' %>
				</div>
				<div class="col-xs-10">
					Potential for Stock Options
				</div>
			</div>
			<div class="col-sm-4">
				<div class="col-xs-2">
					<%= image_tag 'check.png', class: 'check-image' %>
				</div>
				<div class="col-xs-10">
					Company Sponsored 401K Plans
				</div>
			</div>
			<div class="col-sm-4">
				<div class="col-xs-2">
					<%= image_tag 'check.png', class: 'check-image' %>
				</div>
				<div class="col-xs-10">
					Regular Team Events
				</div>
			</div>
			<div class="col-sm-4">
				<div class="col-xs-2">
					<%= image_tag 'check.png', class: 'check-image' %>
				</div>
				<div class="col-xs-10">
					And the list goes on!
				</div>
			</div>
			<div class="col-sm-4">
				<div class="col-xs-2">
					<%= image_tag 'check.png', class: 'check-image' %>
				</div>
				<div class="col-xs-10">
					Competitive Salaries
				</div>
			</div>
			<div class="col-sm-4">
				<div class="col-xs-2">
					<%= image_tag 'check.png', class: 'check-image' %>
				</div>
				<div class="col-xs-10">
					14 Company Sponsored Holidays
				</div>
			</div>
		</div>
	</div>
</section>

<section id="career-section-3">
	<div class="container">
		<div class="row marginBottom100">
			<br><br>
			<div class="col-md-12 text-center">
				<p class="huge">WE'RE MAKING A DIFFERENCE... <br>AND WE'RE HAVING FUN DOING IT!</p>
				<p class='lead'><strong>THINK YOU HAVE WHAT IT TAKES TO BE<br> PART OF THE OPENDRIVES TEAM?</strong></p>
				<hr>
				<br><br>
				<h1><strong>OPENINGS</strong></h1>
				<br><br>
			</div>
			<div class="col-sm-3 col-xs-6 text-center">
				<%= link_to(image_tag('career-nodejs.png', class: 'career-logo'), careers_node_js_developer_path) %>
				<br><br>
				<p><strong>NODE.JS SOFTWARE DEVELOPER</strong></p>
			</div>
			<div class="col-sm-3 col-xs-6 text-center">
				<%= link_to(image_tag('career-pro-engineer.png', class: 'career-logo'), careers_professional_services_engineer_path) %>
				<br><br>
				<p><strong>PROFESSIONAL SERVICES ENGINEER</strong></p>
			</div>
			<div class="col-sm-3 col-xs-6 text-center">
				<%= link_to(image_tag('career-vp-engineer.png', class: 'career-logo'), careers_vp_engineering_path) %>
				<br><br>
				<p><strong>VP ENGINEERING</strong></p>
			</div>
			<div class="col-sm-3 col-xs-6 text-center">
				<%= link_to(image_tag('career-sales.png', class: 'career-logo'), careers_sales_path) %>
				<br><br>
				<p><strong>SALES</strong></p>
			</div>
		</div>
	</div>
</div>



