<% @page_title = 'Careers' %>
<div id="career-section-1">
	<div class="career-anchor-section-1">
		<%= image_tag 'career-intro-image.png', class: "marginTopIntro" %>
		<div class="phrase-1 phrase-career light">
	    JOIN
	  </div>
	  <div class="phrase-2 phrase-career">
	    OUR
	  </div>
	  <div class="phrase-3 phrase-career">
	    TEAM
	  </div>
	  <div class="career-section-1-overlay"></div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 marginTop100 start_agame_anim">
				<p class="lead high-line"><span class="career-opacity">Open Drives is all about</span> <strong class="big">people</strong><span class="career-opacity">. We believe in</span> <strong class="big">results</strong><span class="career-opacity">,</span> <strong class="big">responsibility</strong> <span class="career-opacity">and</span> <strong class="big">high-performance</strong><span class="career-opacity">. In other words, we’re winners. And if you’re a winner,</span> <strong class="big">we want you too</strong><span class="career-opacity">. <br>
				We know that</span> <strong class="big">individuality matters</strong><span class="career-opacity">, and that everyone’s situation is different. That’s why we encourage our team members to be themselves. We don’t care how you look, what you eat, or who your favorite baseball team is (as long as it’s not the Giants). We just want you to bring your A-game. <br> We’re all about providing the</span> <strong class="big">best possible work environment</strong><span class="career-opacity">, so everyone can reach their full potential and meet their goals. Communication is important to us, and we encourage everyone to share their thoughts and opinions. Because that’s how</span> <strong class="big">you get great results</strong><span class="career-opacity">.</span></p>
			</div>
			<div class="col-md-12 text-center marginTop50">
				<p class="agame marginBottom100">BRING YOUR <span class="normal-big-normal blue">A-GAME</span></p>
			</div>
		</div>
	</div>
</div>

<div id="career-section-2" class="full-height">
	<div class="container">
		<div class="row marginTopBottom100 trigger-overlay">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h2><span class="light">LIFE AT </span>OPENDRIVES</h2>
				<hr class="hr-anim-career-section-2">
				<br>
				<h3>SOME OF THE BENEFITS</h3>
				<br><br><br>
			</div>
			<% @benefits.each do |benefit| %>
				<div class="col-sm-4">
					<div class="col-xs-2">
						<%= image_tag 'check.png', class: 'check-image' %>
						<div class="mini-overlay mini-overlay-black"></div>
					</div>
					<div class="col-xs-10">
						<%= benefit %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>

<div id="career-section-3">
	<div class="container">
		<div class="row marginBottom100">
			<br><br>
			<div class="col-md-12 text-center">
				<p class="huge">WE'RE MAKING A DIFFERENCE... <br>AND WE'RE HAVING FUN DOING IT!</p>
				<h3><strong>THINK YOU HAVE WHAT IT TAKES TO BE<br> PART OF THE OPENDRIVES TEAM?</strong></h3>
				<hr class="hr-anim-career-section-3">
				<br><br>
				<h2><strong>OPENINGS</strong></h2>
				<br><br><br>
			</div>
			<div class="col-sm-3 col-xs-6 text-center">
				<div class="career-logo-div rotate-small-big hvr-radial-out">
					<%= link_to careers_node_js_developer_path do %>
						<%= image_tag 'career-nodejs.png', class: 'career-logo more-pad hide-on-hover' %>
						<%= image_tag 'career-nodejs-white.png', class: 'career-logo more-pad show-on-hover' %>
					<% end %>
				</div>
				<br><br>
				<p class="anim from-left"><strong>NODE.JS SOFTWARE DEVELOPER</strong></p>
			</div>
			<div class="col-sm-3 col-xs-6 text-center">
				<div class="career-logo-div rotate-small-big hvr-radial-out">
					<%= link_to careers_professional_services_engineer_path do %>
						<%= image_tag 'career-pro-engineer.png', class: 'career-logo hide-on-hover' %>
						<%= image_tag 'career-pro-engineer-white.png', class: 'career-logo show-on-hover' %>
					<% end %>
				</div>
				<br><br>
				<p class="anim from-left"><strong>PROFESSIONAL SERVICES ENGINEER</strong></p>
			</div>
			<div class="col-sm-3 col-xs-6 text-center">
				<div class="career-logo-div rotate-small-big hvr-radial-out">
					<%= link_to careers_vp_engineering_path do %>
						<%= image_tag 'career-vp-engineer.png', class: 'career-logo hide-on-hover' %>
						<%= image_tag 'career-vp-engineer-white.png', class: 'career-logo show-on-hover' %>
					<% end %>
				</div>
				<br><br>
				<p class="anim from-left"><strong>VP ENGINEERING</strong></p>
			</div>
			<div class="col-sm-3 col-xs-6 text-center">
				<div class="career-logo-div rotate-small-big hvr-radial-out">
					<%= link_to careers_sales_path do %>
						<%= image_tag 'career-sales.png', class: 'career-logo hide-on-hover' %>
						<%= image_tag 'career-sales-white.png', class: 'career-logo show-on-hover' %>
					<% end %>
				</div>
				<br><br>
				<p class="anim from-left"><strong>SALES</strong></p>
			</div>
		</div>
	</div>
</div>



