<div class="container">
		<div class="row text-center marginTop100">
			<div class="col-md-12">
				<h2><span class="light">OUR <strong>CLIENTS<strong></h2>
			</div>
			<hr class="carousel-hr">
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1 marginTop50 carousel-anchor">
				<%= image_tag 'carousel-left-arrow.png', class: "carousel-arrow carousel-left-arrow" %>
				<div class="clients-carousel">
					<div><%= image_tag 'clients-21st Century Fox.png' %></div>
					<div><%= image_tag 'clients-avlogo.png' %></div>
					<div><%= image_tag 'clients-bad_robot_logo.jpg' %></div>
					<div><%= image_tag 'clients-corgan.png' %></div>
					<div><%= image_tag 'clients-direcTV.png' %></div>
					<div><%= image_tag 'clients-disney-abc.jpg' %></div>
					<div><%= image_tag 'clients-hbo.jpg' %></div>
					<div><%= image_tag 'clients-Legendary_Pictures_logo.png' %></div>
					<div><%= image_tag 'clients-nbcU.png' %></div>
					<div><%= image_tag 'clients-PCT.png' %></div>
					<div><%= image_tag 'clients-pop.jpg' %></div>
					<div><%= image_tag 'clients-riot games.png' %></div>
					<div><%= image_tag 'clients-siren.jpg' %></div>
					<div><%= image_tag 'clients-walt disney.png' %></div>
					<div><%= image_tag 'clients-WB.png' %></div>
					<div><%= image_tag 'clients-youtube nation.jpg' %></div>
					<div><%= image_tag 'clients-gone girl.png' %></div>
					<div><%= image_tag 'clients-therevenant.jpg' %></div>
					<div><%= image_tag 'clients-birdman.jpg' %></div>
				</div>
				<%= image_tag 'carousel-right-arrow.png', class: "carousel-arrow carousel-right-arrow" %>
			</div>
		</div>
	</div>