<div class="container faq_support_doc_div">
	<div class="row text-center marginBottom100 ">
		<div class="col-md-12 marginTop100">
			<div class="col-md-4">
				<h3>FAQS</h3>
				<hr class="hr1">
				<br>
				<p class="lead"><strong>HAVE QUESTIONS?</strong> FIND ANSWERS IN OUR FREQUENTLY ASK QUESTIONS.</p>
				<br>
				<div class="hide-in-desktop">
					<%= link_to('READ MORE &nbsp;&nbsp;<span class="plus-icon-blue">+</span>'.html_safe, '/resources/index#resources-section-6#faqs', class: 'link-with-border hvr-shutter-out-horizontal marginBottom50') %>
				</div>
			</div>
			<div class="col-md-4">
				<h3>SUPPORT DOCS</h3>
				<hr class="hr2">
				<br>
				<p class="lead">WE DON'T JUST SAY WE'RE THE BEST.<strong> WE HAVE THE FACTS</strong> TO BACK IT UP.</p>
				<br>
				<div class="hide-in-desktop">
					<%= link_to('SEE WHAT WE MEAN &nbsp;&nbsp;<span class="plus-icon-blue">+</span>'.html_safe, '/resources/index#resources-section-6#support-document', class: 'link-with-border hvr-shutter-out-horizontal marginBottom50') %>
				</div>
			</div>
			<div class="col-md-4">
				<h3>VIDEOS</h3>
				<hr class="hr3">
				<br>
				<p class="lead">JUST GETTING STARTED WITH OPENDRIVES?<strong>  SEE US IN ACTION</strong>.</p>
				<br>
				<div class="hide-in-desktop">
					<%= link_to('WATCH THEM NOW &nbsp;&nbsp;<span class="plus-icon-blue">+</span>'.html_safe, '/resources/index#resources-section-6#videos', class: 'link-with-border hvr-shutter-out-horizontal marginBottom50') %>
				</div>
			</div>
			<div class="col-md-12 hide-in-mobile">
				<div class="col-md-4">
					<%= link_to('READ MORE &nbsp;&nbsp;<span class="plus-icon-blue">+</span>'.html_safe, '/resources/index#resources-section-6#faqs', class: 'link-with-border hvr-shutter-out-horizontal') %>
				</div>
				<div class="col-md-4">
					<%= link_to('SEE WHAT WE MEAN &nbsp;&nbsp;<span class="plus-icon-blue">+</span>'.html_safe, '/resources/index#resources-section-6#support-document', class: 'link-with-border hvr-shutter-out-horizontal') %>
				</div>
				<div class="col-md-4">
					<%= link_to('WATCH THEM NOW &nbsp;&nbsp;<span class="plus-icon-blue">+</span>'.html_safe, '/resources/index#resources-section-6#videos', class: 'link-with-border hvr-shutter-out-horizontal') %>
				</div>
			</div>
		</div>
	</div>
</div>