<footer>
	<div class="col-md-6 col-sm-12 pull-right-sm slider-div">
		<div class="anchor-box">
			<div class="slider">
				<p class="hide-on-hover">SIGNUP FOR OUR NEWSLETTER</p>
				<a href=" "><p style="text-align:right;color:#fff;" class="show-on-hover">SUBSCRIBE</p></a>
			</div>
			<div class="slider-under">
				<p class="hide-on-hover"><strong>SUBSCRIBE</strong></p>
				<%= form_tag('/home/subscribe', method: 'post', id: 'subscribe', remote: true) do %>
					<span class="close-subscribe">X</span><input type="email" name="email" placeholder="EMAIL" class="footer-input show-on-hover" value="" id="subscribe-email">
				<% end %>
			</div>

			<div class="show-on-submit success">
				<p class="lead">YOU HAVE SUCCESSFULLY SUBSCRIBED TO OUR NEWSLETTER!</p>
			</div>
			<div class="show-on-submit error">
				<p class="lead">Oops! Please verify your email or try again later.</p>
			</div>
		</div>
	</div>
	<div class="col-md-2 col-sm-4 col-xs-4">
		<%= link_to(image_tag('footer-OD-logo.png'), root_path) %>
	</div>
	<div class="col-md-4 col-sm-7 col-xs-8">
		<%= link_to 'https://www.facebook.com/OpenDrives/?fref=photo', target: '_blank', class: "s-icon-link hvr-radial-out" do %>
			<%= image_tag('footer-f-black.png', class: "footer-s-icon hide-on-hover") %>
			<%= image_tag('footer-f-white.png', class: "footer-s-icon show-on-hover") %>
		<% end %>
		<%= link_to 'https://twitter.com/opendrives?lang=en', target: '_blank', class: "s-icon-link hvr-radial-out" do %>
			<%= image_tag('footer-t-black.png', class: "footer-s-icon hide-on-hover") %>
			<%= image_tag('footer-t-white.png', class: "footer-s-icon show-on-hover") %>
		<% end %>
		<%= link_to 'https://www.linkedin.com/company/open-drives', target: '_blank', class: "s-icon-link hvr-radial-out" do %>
			<%= image_tag('footer-l-black.png', class: "footer-s-icon hide-on-hover") %>
			<%= image_tag('footer-l-white.png', class: "footer-s-icon show-on-hover") %>
		<% end %>

		<br><br>
		<%= link_to 'https://www.google.com/maps/place/3522+Hayden+Ave,+Culver+City,+CA+90232/@34.0265648,-118.3824543,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2b99b2e329a97:0x18a878136430e1ce!8m2!3d34.0265604!4d-118.3802656', target: '_blank' do %>
			<p>3522 HAYDEN AVENUE | CULVER CITY | CA 90232</p>
		<% end %>
		<%= link_to 'tel:+13106598999' do %>
			<p>+1 (310) 659-8999</p>
		<% end %>
		<%= link_to 'mailto:sales@opendrives.com' do %>
			<p>SALES@OPENDRIVES.COM</p>
		<% end %>
	</div>  
</footer>