<nav class="navbar navbar-fixed-top" >
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to(image_tag('logo-blue.png', class: "logo-nav"), root_path, class: "") %>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="nav-contact"><%= link_to 'CONTACT', contacts_path, class: 'hvr-underline-from-center' %></li>
      <li class="nav-contact"><%= link_to 'SCHEDULE A DEMO', contacts_path(anchor: 'contact-section-3'), class: 'link-border hide-on-menu hvr-shutter-out-horizontal' %></li>
      <li>
        <div class="hamburgler">
          <div class="bun top"></div>
          <div class="meat"></div>
          <div class="bun bottom"></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="nav-menu full-height-twice" id='nav-menu'>
    <div class="close-menu-div">
    </div>
    <ul>
      <%= link_to '<li>SCHEDULE A DEMO</li>'.html_safe, contacts_path(anchor: 'contact-section-3'), class: "link-border menu-nav-contact" %>
      <br>
      <%= link_to '<li>WHY OPENDRIVES</li>'.html_safe, why_us_index_path %>
      <%= link_to '<li>PRODUCTS</li>'.html_safe, products_index_path %>
      <%= link_to '<li>CASE STUDIES</li>'.html_safe, case_studies_index_path %>
      <%= link_to '<li>SUPPORT</li>'.html_safe, resources_path %>
      <%= link_to '<li>CAREERS</li>'.html_safe, careers_index_path %>
      <%= link_to '<li>CONTACT</li>'.html_safe, contacts_path %>
    </ul>
  </div>
</nav>

