<nav class="navbar navbar-fixed-top" <%= 'style="background-color:#000"'.html_safe if !current_page?(root_path) %>>
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to(image_tag('logo.png'), root_path) %>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'CONTACT', contacts_index_path %></li>
      <li><%= link_to 'SCHEDULE A DEMO', '/contacts/index#contact-section-3', class: 'link-border hide-on-menu' %></li>
      <li><%= fa_icon "bars 2x", class: 'bars-nav hide-on-menu' %></li>
    </ul>
  </div><!-- /.container-fluid -->
  <div class="nav-menu full-height" id='nav-menu'>
    <div class="close-menu-div">
      <a href='' class="close-menu"><strong>X</strong></a>
    </div>
    <ul>
      <%= link_to '<li>WHY US</li>'.html_safe, why_us_index_path %>
      <%= link_to '<li>PRODUCTS</li>'.html_safe, products_index_path %>
      <%= link_to '<li>CASE STUDIES</li>'.html_safe, case_studies_index_path %>
      <%= link_to '<li>RESOURCES</li>'.html_safe, resources_index_path %>
      <%= link_to '<li>CAREERS</li>'.html_safe, careers_index_path %>
      <%= link_to '<li>CONTACT</li>'.html_safe, contacts_index_path %>
    </ul>
  </div>
</nav>