<% @page_title = 'Contact' %>
<div id="contact-section-1">
	<%= image_tag 'contact-intro.png', class: 'marginTopIntro' %>
  <div class="phrase-1 phrase-contact light">
    get to
  </div>
  <div class="phrase-2 phrase-contact medium">
    know us
  </div>
  <div class="phrase-3 phrase-contact">
    <hr>
  </div>
</div>

<div id="contact-section-2">
	<div class="container">
		<div class="row text-center marginTopBottom100">
			<div class="col-sm-4 logo-address-div">
				<%= link_to 'https://www.google.com/maps/place/3522+Hayden+Ave,+Culver+City,+CA+90232/@34.0265648,-118.3824543,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2b99b2e329a97:0x18a878136430e1ce!8m2!3d34.0265604!4d-118.3802656', target: '_blank' do %>
					<%= image_tag 'contact-address-logo.png', class: 'contact-logo contact-logo-address' %>
					<br><br>
					<p class="bold">3522 HAYDEN AVENUE <br>CULVER CITY | CA 90232</p>
				<% end %>
			</div>
			<div class="col-sm-4 logo-phone-div">
				<%= link_to 'tel:+13106598999' do %>
					<%= image_tag 'contact-phone-logo.png', class: 'contact-logo contact-logo-phone' %>
					<br><br>
					<p class="bold">+1 (310) 659-8999</p>
				<% end %>
			</div>
			<div class="col-sm-4 logo-mail-div">
				<%= link_to 'mailto:sales@opendrives.com' do %>
					<%= image_tag 'contact-mail-logo.png', class: 'contact-logo contact-logo-mail' %>
					<br><br>
					<p class="bold">SALES@OPENDRIVES.COM</p>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div id="contact-section-3">
	<div class="container">
		<div class="row marginTopBottom100 text-center">
			<div class="col-md-12">
				<p class="huge"><span class="light">fill out the form below to</span> <span class="bold">schedule a demo</sspan><span class="light">, ask a question or just </span> <span class="bold">say hello.</span></p>
				<br>
				<hr class="hr-anim-contact">
				<br><br>
			</div>
			<div class="col-md-12" id="contact-form">
				<%= render 'contacts_form' %>
			</div>
		</div>
	</div>
</div>
<div id="contact-section-4">
	<div id="map"></div>
</div>




