<% @page_title = 'Contact' %>
<div id="contact-section-1">
	<%= image_tag 'contact-intro.png', class: 'marginTopIntro' %>
  <div class="phrase-1 phrase-contact light">
    GET TO
  </div>
  <div class="phrase-2 phrase-contact">
    KNOW US
  </div>
  <div class="phrase-3 phrase-contact">
    <hr>
  </div>
</div>

<div id="contact-section-2">
	<div class="container">
		<div class="row text-center marginTopBottom100">
			<div class="col-sm-4 logo-address-div anim">
				<%= link_to 'https://www.google.com/maps/place/3522+Hayden+Ave,+Culver+City,+CA+90232/@34.0265648,-118.3824543,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2b99b2e329a97:0x18a878136430e1ce!8m2!3d34.0265604!4d-118.3802656', target: '_blank' do %>
					<%= image_tag 'contact-address-logo.png', class: 'contact-logo contact-logo-address' %>
					<br><br>
					<p>3522 HAYDEN AVENUE <br>CULVER CITY | CA 90232</p>
				<% end %>
			</div>
			<div class="col-sm-4 logo-phone-div anim">
				<%= link_to 'tel:+13106598999' do %>
					<%= image_tag 'contact-phone-logo.png', class: 'contact-logo contact-logo-phone' %>
					<br><br>
					<p>+1 (310) 659-8999</p>
				<% end %>
			</div>
			<div class="col-sm-4 logo-mail-div anim">
				<%= link_to 'mailto:sales@opendrives.com' do %>
					<%= image_tag 'contact-mail-logo.png', class: 'contact-logo contact-logo-mail' %>
					<br><br>
					<p>SALES@OPENDRIVES.COM</p>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div id="contact-section-3" class="full-height" >
	<div class="container">
		<div class="row marginTopBottom100 text-center">
			<div class="col-md-12">
				<p class="huge"><span class="light">FILL OUT THE FORM BELOW TO</span> <strong>SCHEDULE A DEMO</strong><span class="light">, ASK A QUESTION OR JUST </span> <strong>SAY HELLO.</strong></p>
				<hr class="hr-anim-contact">
				<br><br>
			</div>
			<div class="col-md-12">
				<%= simple_form_for(@contact, html: { class: "form-horizontal" }) do |f| %>
          <fieldset>

            <div class="form-group">
              <div class="col-sm-6">
                <%= f.input :first_name, label: false, placeholder: '*FIRST NAME', required: true, input_html: { class: 'form-control' } %>
              </div>
              <div class="col-sm-6">
                <%= f.input :last_name, label: false, placeholder: '*LAST NAME', required: true, input_html: { class: 'form-control' } %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-6">
                <%= f.input :email, label: false, placeholder: '*WORK EMAIL', required: true, input_html: { class: 'form-control' } %>
              </div>
              <div class="col-sm-6">
                <%= f.input :company_name, label: false, placeholder: '*COMPANY NAME', required: true, input_html: { class: 'form-control' } %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-6">
                <%= f.input :job_title, label: false, placeholder: 'Job Title', required: false, input_html: { class: 'form-control' } %>
              </div>
              <div class="col-sm-6">
                 <%= f.input :phone, label: false, placeholder: 'PHONE NUMBER', required: false, input_html: { class: 'form-control' } %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-6">
                <%= f.input :country, label: false, placeholder: 'COUNTRY', required: false, input_html: { class: 'form-control' } %>
              </div>
              <div class="col-sm-6 demo-div">
                <%= f.input :date, label: false, placeholder: 'MM/DD/YYYY', required: false, input_html: { class: 'form-control datepicker' }, wrapper_html: { class: 'schedule-demo-input' } %>
                <div class="schedule-demo-div form-control hvr-sweep-to-right">
                  WANT TO SCHEDULE A DEMO?
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <%= f.input :message, as: :text, rows: 10, label: false, placeholder: 'QUESTION', required: false, input_html: { class: 'form-control' } %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12 marginTop20">
              	<%= button_tag((fa_icon 'angle-right', text: 'SUBMIT', right: true), type: 'submit', class: 'link-with-border hvr-shutter-out-horizontal') %>
                
              </div>
            </div>
          </fieldset>
         <% end %>
			</div>
		</div>
	</div>
</div>








