<div id="tab-<%= id %>" class="tab-pane fade <%= 'in active' if id == 'avalanche' %>">
	<div class="col-md-8 marginTop50">
		<h4><%= title.html_safe %></h4>
		<br><br>
		<p class="border-left lead"><%= body %></p>
	</div>
	<div class="col-md-4 col-xs-12 marginTop50">
		<h4>SPECS:</h4>
		<br><br><br>
		<div class="row pull-up">
			<div class="col-md-2 col-xs-1">
				<%= image_tag 'check.png', class: 'check-image' %>
				<div class="mini-overlay mini-overlay-anim"></div>
			</div>
			<div class="col-md-10 col-xs-8">
				<p>CAPACITY: <%= capacity %></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 col-xs-1">
				<%= image_tag 'check.png', class: 'check-image' %>
				<div class="mini-overlay mini-overlay-anim1"></div>
			</div>
			<div class="col-md-10 col-xs-8">
				<p>HARD DRIVE SIZE: <%= hd_size %></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 col-xs-1">
				<%= image_tag 'check.png', class: 'check-image' %>
				<div class="mini-overlay mini-overlay-anim2"></div>
			</div>
			<div class="col-md-10 col-xs-8">
				<p>CPU: 12 CORE INTEL XEON</p>
			</div>
		</div>
	</div>
	<div class="col-md-12 text-center marginTop20">
		<%= link_to((fa_icon "plus", text: "LEARN MORE", right: true), link, class: 'link-with-border hvr-shutter-out-horizontal') %>
	</div>
</div>