<div class="full-height-home" id="home-section-1">
	<%= image_tag 'home-top.png', class: '' %>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1 class="catchphrase hide-in-sm-desktop">Open Drives makes faster,<br> more efficient data storage</h1>
				<h1 class="catchphrase hide-in-sm-mobile"><span class="intro-phrase intro-1">Open Drives</span> <span class="intro-phrase intro-2">makes faster,</span><br> <span class="intro-phrase intro-3">more efficient</span> <span class="intro-phrase intro-4">data storage</span><br><span class="down intro-phrase intro-5">for half the cost</span></h1>
				<h1 class="catchphrase2 hide-in-sm-desktop"><span class="down intro-phrase intro-5">FOR HALF THE COST</span></h1>
			</div>
			<%= link_to(image_tag('angle-down-icon.png', class: "hide-on-hover"), '#home-section-2', class: 'smooth-scroll') %>
			<%= link_to(image_tag('angle-down-icon-blue.png', class: "show-on-hover"), '#home-section-2', class: 'smooth-scroll') %>
		</div>
	</div>
</div>

<div id="home-section-2">
	<div class="container">
		<div class="row marginTopBottom100">
			<div class="col-sm-6 text-right">
				<%= image_tag 'servers.png', class: 'hide-in-sm-mobile' %>
			</div>
			<div class="col-sm-6 col-xs-12 text-left ">
				<h3>Powered by <br><span>imagination</span></h3>
				<%= image_tag 'servers.png', class: 'hide-in-sm-desktop' %>
				<p class="lead margin-in-mobile">OpenDrives is changing the way data is stored. By giving you more control over your content, our hardware solutions provide large data storage with superior performance, security, efficiency and reliability. Unmatched speed enables new workflows and increases the number or iterations. And at half the cost of traditional storage, OpenDrives is the pinnacle of data storage solutions.</p>
				<p class="lead">If you haven’t experienced OpenDrives, you don’t know what you’re missing. Forget what you’ve heard. See the difference for yourself</p>
			</div>
		</div>
	</div>
</div>


<div id="home-section-3">
	<div class="container marginBottom100">
		<div class="row">
			<div class="col-md-12 text-center">
				<%= image_tag 'bigdrive.png', class: "home-section-3-server" %>
			</div>
			<ul class="nav nav-tabs nav-justified">
			  <li class="active"><a data-toggle="tab" href="#tab-avalanche">avalanche</a></li>
			  <li><a data-toggle="tab" href="#tab-spectre">spectre</a></li>
			  <li><a data-toggle="tab" href="#tab-ridgeview">ridgeview</a></li>
			</ul>
		</div>
		<div class="tab-content">
			<%= render 'tab', 
				id: 'avalanche', 
				title: 'The extreme performance of avalanche',
				body: "With incredible speed and power in an all-flash array, Avalanche is perfect for content creation rendering and other applications that need instantaneous access to large files for multiple users. When you need performance requirements far beyond the norm, Avalanche delivers.", 
				capacity: "288 / 432 / 576 tb",
				hd_size: "2tb – 6tb",
				link: "/products/index#products-section-2#tab-avalanche" %>

				<%= render 'tab', 
				id: 'spectre', 
				title: 'Spectre - the high performance solution',
				body: "A hybrid (SSD/HDD) solution, Spectre allows you to work on any format in any resolution using any codec easily. With industry-leading performance it provides versatile storage in a simple, efficient platform.", 
				capacity: "72 / 144 / 216 / 288 tb",
				hd_size: "2tb – 6tb",
				link: '/products/index#products-section-2#tab-spectre' %>

				<%= render 'tab', 
				id: 'ridgeview', 
				title: 'The power and efficiency of ridgeview',
				body: "A powerful cost-effective active archive solution, Ridgeview is ideal for storing multi-petabyte archives in a single, easy-to-manage volume. With forever-level integrity and single-volume simplicity, you no longer have to choose between performance and cost.", 
				capacity: "18 / 36 / 72 tb",
				hd_size: "500gb – 1tb",
				link: '/products/index#products-section-2#tab-ridgeview' %>
		</div>
	</div>
</div>

	
<div class="full-height-twice" id="home-section-4-5">
	<div class="container-fluid hide-in-sm-desktop">
		<div class="row">
			<div class="col-md-12 title-section-4">
				<h3>Clients choose OpenDrives because we offer</h3>
			</div>
		</div>
	</div>
	<div class="container text-center">
		<div class="row marginTop100 hide-in-sm-mobile">
			<div class="col-md-12">
				<h3>Clients choose OpenDrives because we offer</h3>
			</div>
		</div>
		<div class="row marginTop100">
			<div class="col-md-15 stagger-from-left anim col-sm-4 col-xs-6">
				<%= image_tag 'speed.png', class: 'home-reason-logo' %>
				<p>high performance and speed</p>
			</div>
			<div class="col-md-15 stagger-from-left anim col-sm-4 col-xs-6">
				<%= image_tag 'cost-effective.png', class: 'home-reason-logo' %>
				<p>cost effective data storage</p>
			</div>
			<div class="col-md-15 stagger-from-left anim col-sm-4 col-xs-6">
				<%= image_tag 'protection.png', class: 'home-reason-logo' %>
				<p>data integrity and protection</p>
			</div>
			<div class="col-md-15 stagger-from-left anim col-sm-6 col-xs-6">
				<%= image_tag 'zero-downtime.png', class: 'home-reason-logo' %>
				<p>zero downtime storage expansion</p>
			</div>
			<div class="col-md-15 stagger-from-left anim col-sm-6 col-xs-12">
				<%= image_tag 'just-in-time.png', class: 'home-reason-logo' %>
				<p>just-in-time production</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 marginTop50 customMargin">
				<p class="lead">and that's just the beginning</p>
				<br class="hide-in-sm-mobile">
				<%= link_to('learn more &nbsp;&nbsp;<span class="plus-circle-icon"><span class="plus-adjust">+</span></span>'.html_safe, products_index_path(anchor: "opus"), class: 'link-no-border hvr-shutter-in-horizontal') %>
			</div>
		</div>
	</div>
	<div class="container container-section-5">
		<div class="row">
			<div class="col-md-6"> 
				<h2 class="line-from-right anim"><span class="light">client</span> spotlight</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 line-from-right anim">
			</div>
		</div>
		<div class="row landscape-margin">
			<div class="col-sm-6 col-xs-8 marginTop50">
				<h3 class="line-from-right anim">gone girl</h3>
				<p class="lead line-from-right anim">Critically acclaimed: OpenDrives' avalanche gives fox and david fincher unprecedented 6k post-production workflow.</p>
				<br>
			</div>
			<div class="col-xs-12">
				<%= link_to('learn more &nbsp;&nbsp;<span class="plus-circle-icon"><span class="plus-adjust">+</span></span>'.html_safe, case_interior_gone_girl_path, class: 'link-no-border line-from-right anim hvr-shutter-in-horizontal') %>
			</div>
		</div>
	</div>
</div>

<div id="home-section-6">
	<%= render 'shared/clients_carousel' %>
</div>


<div id="home-section-7">
	<%= render 'shared/faq_support_doc' %>
</div>

<div id="home-section-8">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-6 col-md-offset-3">
				<h2>partners</h2>
				<hr class="hr-anim-home-8">
			</div>
		</div>
		<div class="row text-center marginTop50  marginBottom100">
			<div class="col-sm-3 col-xs-6">
				<%= image_tag 'partners-micron.png', class: 'anim partners-animation-right' %>
			</div>
			<div class="col-sm-3 col-xs-6">
				<%= image_tag 'partners-nvidia.png', class: 'anim partners-animation-right' %>
			</div>
			<div class="col-sm-3 col-xs-6">
				<%= image_tag 'partners-HGST.png', class: 'anim partners-animation-right' %>
			</div>
			<div class="col-sm-3 col-xs-6">
				<%= image_tag 'partners-adobe.png', class: 'anim partners-animation-right' %>
			</div>
			<div class="col-sm-2 col-sm-offset-1 col-xs-6">
				<%= image_tag 'partners-mellanox.png', class: 'anim partners-animation-right' %>
			</div>
			<div class="col-sm-2 col-xs-6">
				<%= image_tag 'partners-hp.png', class: 'anim partners-animation-right' %>
			</div>
			<div class="col-sm-2 col-xs-6">
				<%= image_tag 'partners-intel.png', class: 'anim partners-animation-right' %>
			</div>
			<div class="col-sm-2 col-xs-6">
				<%= image_tag 'partners-solarflare.png', class: 'anim partners-animation-right' %>
			</div>
			<div class="col-sm-2 col-xs-6">
				<%= image_tag 'partners-chelsio.png', class: 'anim partners-animation-right' %>
			</div>
		</div>
	</div>
</div>
