<% @page_title = 'Resources' %>
<section id="resources-section-1">
	<%= image_tag 'resources-intro.png', class: 'marginTopIntro' %>
</section>

<section id="resources-section-2">
	<div class="container">
		<div class="row marginTopBottom100">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h3 class="huge"><span class="light">YOU'RE OUR</span> #1 PRIORITY</h3>
				<hr>
			</div>
			<div class="col-md-12 text-center">
				<br><br>
				<p class="lead high-line">OpenDrives delivers <strong class="big">advanced technical support</strong> from industry professionals with <strong class="big">decades</strong> of hands-on experience building <strong class="big">facilities</strong> and designing workflows. Every member of the OpenDrives support team has years of industry experience and the expertise you need to diagnose and resolve issues in a <strong class="big">timely and efficient manner</strong>. From post-production to VFX to motion picture and television production, our team of support engineers has been at the <strong class="big">forefront of media &amp; entertainment technology</strong> for decades. And they’re at your disposal. Because we know when it’s your data, standard isn’t good enough.</p>
			</div>

			<%= link_to 'tel:+18887785491' do %>
				<div class="col-xs-4 resources-contact-div text-center black marginTop50 hvr-sweep-to-right">
					+1 (888) 778-5491<br class="hide-in-desktop"><%= image_tag 'contact-phone-logo.png', class: 'resources-contact-logo' %>
				</div>
			<% end %>

			<%= link_to 'mailto:support@opendrives.com' do %>
				<div class="col-xs-4 resources-contact-div text-center blue marginTop50 hvr-sweep-to-right">
					SUPPORT@OPENDRIVES.COM<br class="hide-in-desktop"><%= image_tag 'contact-mail-white-logo.png', class: 'resources-contact-logo' %>
				</div>
			<% end %>

			<%= link_to 'https://support.opendrives.com/hc/en-us', target: '_blank' do %>
				<div class="col-xs-4 resources-contact-div text-center black marginTop50 hvr-sweep-to-right">
					CREATE A SUPPORT TICKET<br class="hide-in-desktop"><%= image_tag 'contact-ticket-logo.png', class: 'resources-contact-logo' %>
				</div>
			<% end %>
		</div>
	</div>
</section>

<section id="resources-section-3">
	<div class="container">
		<div class="row marginTopBottom100">
			<div class="col-md-12 text-center">
				<h3><span class="light">CONTACT US OR FILL OUT THE SUPPORT REQUEST FORM AND ONE OF OUR</span> SPECIALIST WILL CONTACT YOU TO RESOLVE YOUR ISSUE AS SOON AS POSSIBLE.*</h3>
				<hr class="hr-anim-resources-form">
				<br>
				<p>*During standard business hours.</p>
			</div>
			<div class="col-md-12 marginTop50">
				<%= form_tag(send_email_path, method: "post", :class=>"form-horizontal") do %>
          <fieldset>

            <div class="form-group">
              <div class="col-sm-4">
                <input id="first-name" name="first-name" type="text" placeholder="*FIRST NAME" class="form-control" required>
              </div>
              <div class="col-sm-4">
                <input id="last-name" name="last-name" type="text" placeholder="*LAST NAME" class="form-control" required>
              </div>
              <div class="col-sm-4">
                <input id="company-name" name="company-name" type="text" placeholder="COMPANY NAME" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-6">
                <input id="email" name="email" type="text" placeholder="*WORK EMAIL" class="form-control" required>
              </div>
              <div class="col-sm-6">
                <input id="phone" name="phone" type="tel" placeholder="PHONE NUMBER" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <textarea class="form-control " id="message" name="message" placeholder="ISSUE DESCRIPTION" rows="10"></textarea>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12 marginTop20 text-center">
              	<%= button_tag((fa_icon 'angle-right', text: 'SUBMIT', right: true), type: 'submit', class: 'link-with-border hvr-shutter-out-horizontal') %>
                
              </div>
            </div>
          </fieldset>
         <% end %>
			</div>
		</div>
	</div>
</section>

<section id="resources-section-4">
	<div class="container">
		<div class="row marginTopBottom100">
			<div class="col-md-12 text-center">
				<h3><span class="light">SUPERIOR SUPPORT AND</span> FASTER RESOLUTION</h3>
				<hr class="hr-anim-resources-section-4">
				<br><br>
				<p class="quote">“Out of all of the hardware and software vendors we use, OpenDrives hands down has the best support. OpenDrives has continually helped support our endeavors and what really sets them apart from the competition is their response time and knowledge. As a business owner, I feel confident with them on my team and taking care of those critical infrastructure issues so I can focus on what matters most, running my business."</p>
				<p><small>Gresham Lochner, Locktix</small></p>
			</div>
		</div>
	</div>
</section>

<section id="resources-section-5">
	<div class="container">
		<ul class="nav nav-tabs nav-justified">
		  <li class="active">
		  	<a data-toggle="tab" href="#support-service">
		  		<%= image_tag 'resources-support-service-logo.png' %>
		  		<br><br>
		  		<p>SUPPORT SERVICE</p>
		  	</a>
		  </li>
		  <li>
		  	<a data-toggle="tab" href="#faqs" class="faqs-tab">
		  		<%= image_tag 'resources-faqs-logo.png' %>
		  		<br><br>
		  		<p>FAQS</p>
		  	</a>
		  </li>
		  <li>
		  	<a data-toggle="tab" href="#support-document" class="support-document-tab">
		  		<%= image_tag 'resources-support-document-logo.png' %>
		  		<br><br>
		  		<p>SUPPORT DOCUMENTS</p>
		  	</a>
		  </li>
		  <li>
		  	<a data-toggle="tab" href="#videos" class="videos-tab">
		  		<%= image_tag 'resources-videos-logo.png' %>
		  		<br><br>
		  		<p>VIDEOS</p>
		  	</a>
		  </li>
		</ul>
	</div>
</section>

<section id="resources-section-6">
	<div class="container">
		<div class="tab-content marginTopBottom100">
		  <div id="support-service" class="tab-pane fade in active">
		  	<div class="row">
		  		<div class="col-md-8 col-md-offset-2 text-center">
				    <h3 class="huge"><span class="light">OUR SUPPORT</span> PROMISE</h3>
				    <hr>
				  </div>
				  <div class="col-md-12 text-center">
				    <br>
				    <p class="">The OpenDrives Support Option delivers hardware and software support including technical support, onsite response, remote monitoring and resolution, and the installation of non-customer replaceable units. <br> The Open Drives Support Option includes:</p>
				  </div>
				  <div class="col-sm-6 marginTop50">
				  	<div class="col-xs-2">
				  		<%= image_tag 'check.png', class: 'check-image' %>
				  	</div>
				  	<div class="col-xs-10">
				  		<p>Access to online support tools</p>
				  		<p><span class="blue">a</span> - Initiate support requests via multiple channels, including: online chat, web, telephone, or email</p>
				  		<p><span class="blue">b</span> - Search OpenDrives’ technical and support knowledge repository to quickly access critical information</p>
				  		<p><span class="blue">c</span> - Register software, obtain license keys, and download product enhancements, patches, and upgrades</p>
				  		<p><span class="blue">d</span> - Access the OpenDrives Lab interoperability and product lifecycle information</p>
				  	</div>
				  </div>
				  <div class="col-sm-6 marginTop50">
				  	<div class="col-xs-2">
				  		<%= image_tag 'check.png', class: 'check-image' %>
				  	</div>
				  	<div class="col-xs-10">
				  		<p>Replacement parts delivery – Parts will be shipped to the customer. Customers are responsible for installation of parts deemed to be customer replaceable units (CRU’s).</p>
				  	</div>
				  	<div class="col-xs-2">
				  		<%= image_tag 'check.png', class: 'check-image' %>
				  	</div>
				  	<div class="col-xs-10">
				  		<p>Onsite response with replacement parts installation – Onsite dispatch and installation for parts deemed non-customer replaceable.</p>
				  	</div>
				  	<div class="col-xs-2">
				  		<%= image_tag 'check.png', class: 'check-image' %>
				  	</div>
				  	<div class="col-xs-10">
				  		<p>Rights to new releases of software – Access to new software releases with improved features and critical bug fixes to address evolving business needs.</p>
				  	</div>
				  </div>
				  <div class="col-sm-12 marginTop50">
				  	<div class="col-xs-2">
				  		<%= image_tag 'check.png', class: 'check-image' %>
				  	</div>
				  	<div class="col-xs-10 extrem-left">
				  		<p>Remote monitoring – Sophisticated remote support technology securely monitors your OpenDrives systems and notifies of potential issues before business is impacted.</p>
				  	</div>
				  </div>
			  </div>
		  </div>
		  <div id="faqs" class="tab-pane fade">
		  	<div class="row">
		  		<div class="col-md-12 text-center">
		  			<h3><span class="light">FIND ANSWERS TO COMMON QUESTIONS IN OUR</span><br> FREQUENTLY ASKED QUESTIONS</h3>
		  			<hr>
		  			<br><br>
		  			<%= link_to(image_tag('resources-support-document-logo-black.png', class: 'logo-tab-content') + "&nbsp;&nbsp;&nbsp;DOCUMENT TITLE".html_safe, '', target: '_blank', class: "link-download") %>
		  		</div>
		  	</div>
		  </div>
		  <div id="support-document" class="tab-pane fade">
		  	<div class="row">
		  		<div class="col-md-12 text-center">
		  			<h3>HAVING TROUBLE WITH OPENDRIVES? <span class="light">THE FOLLOWING DOCUMENTS PROVIDE STEP-BY-STEP GUIDANCE FOR RESOLVING COMMON ISSUES.</span></h3>
		  			<hr>
		  			<br><br>
		  		</div>
		  		<div class="col-md-4 marginTop50">
		  			<%= link_to '', class: "link-download", target: "_blank" do %>
			  			<div class="col-xs-2">
			  				<%= image_tag 'resources-support-document-logo-black.png', class: 'logo-tab-content' %>
			  			</div>
			  			<div class="col-xs-10">
			  				<p>AM I GHOST MOUNTING MY AUTOMOUNT ON MY MAC?</p>
			  			</div>
			  		<% end %>
		  		</div>
		  		<div class="col-md-4 marginTop50">
		  			<%= link_to '', class: "link-download", target: "_blank" do %>
			  			<div class="col-xs-2">
			  				<%= image_tag 'resources-support-document-logo-black.png', class: 'logo-tab-content' %>
			  			</div>
			  			<div class="col-xs-10">
			  				<p>GETTING NFS SETUP AND CONNECTED TO WINDOWS 8.1E</p>
			  			</div>
			  		<% end %>
		  		</div>
		  		<div class="col-md-4 marginTop50">
		  			<%= link_to '', class: "link-download", target: "_blank" do %>
			  			<div class="col-xs-2">
			  				<%= image_tag 'resources-support-document-logo-black.png', class: 'logo-tab-content' %>
			  			</div>
			  			<div class="col-xs-10">
			  				<p>CONFIGURING MANAGED SNAPSHOTS</p>
			  			</div>
			  		<% end %>
		  		</div>
		  		<div class="col-md-4 col-md-offset-2 marginTop50">
		  			<%= link_to '', class: "link-download", target: "_blank" do %>
			  			<div class="col-xs-2">
			  				<%= image_tag 'resources-support-document-logo-black.png', class: 'logo-tab-content' %>
			  			</div>
			  			<div class="col-xs-10">
			  				<p>COMPATIBILITY <br class="hide-in-mobile">MATRICES</p>
			  			</div>
			  		<% end %>
		  		</div>
		  		<div class="col-md-4 marginTop50">
		  			<%= link_to '', class: "link-download", target: "_blank" do %>
			  			<div class="col-xs-2">
			  				<%= image_tag 'resources-support-document-logo-black.png', class: 'logo-tab-content' %>
			  			</div>
			  			<div class="col-xs-10">
			  				<p>BEST PRACTICES <br class="hide-in-mobile">ONE SHEET</p>
			  			</div>
			  		<% end %>
		  		</div>
		  	</div>
		  </div>
		  <div id="videos" class="tab-pane fade">
		  	<div class="row text-center">
					<div class="col-md-6">
						<h4 class="house-cards-div">OPEN DRIVES,<br><span class="light">POWERED BY INTEL</span></h4>
						<br><br>
						<div class="video-thumb-anchor">
							<%= link_to '', data: { toggle: 'modal', target: '#modal-house-cards' } do %>
								<%= image_tag 'resources-houseofcards.png', class: 'video-thumb' %>
								<%= image_tag 'resources-videos-logo.png', class: 'logo-play' %>
							<% end %>
						</div>
						<br><br><br class="hide-in-mobile"><br class="hide-in-mobile">
						<%= link_to((fa_icon 'plus', text: 'WATCH NOW', right: true), '', data: { toggle: 'modal', target: '#modal-house-cards' }, class: 'link-with-border') %>
					</div>
					<div class="col-md-6">
						<h4>OPENDRIVES DELIVERS<br><span class="light">HIGH PERFORMANCE ON DEADPOOL</span></h4>
						<br><br>
						<div class="video-thumb-anchor">
							<%= link_to '', data: { toggle: 'modal', target: '#modal-deadpool' } do %>
								<%= image_tag 'resources-deadpool.png', class: 'video-thumb' %>
								<%= image_tag 'resources-videos-logo.png', class: 'logo-play logo-play-dead' %>
							<% end %>
						</div>
						<br><br><br class="hide-in-mobile"><br class="hide-in-mobile">
						<%= link_to((fa_icon 'plus', text: 'WATCH NOW', right: true), '', data: { toggle: 'modal', target: '#modal-deadpool' }, class: 'link-with-border') %>
					</div>
				</div>
		  </div>
		</div>
	</div>
</section>


<div id="modal-house-cards" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/p5RNOK5NuSM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div id="modal-deadpool" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BELaZoVldwI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>





