<% @page_title = 'Resources' %>
<div id="resources-section-1">
	<%= image_tag 'resources-intro.png', class: 'marginTopIntro' %>
	<div class="resource-intro-anchor text-center">
		<div class="phrase-1 phrase-resources light">
			we're here
		</div>
		<div class="phrase-2 phrase-resources bold">
			to help
		</div>
		<div class="phrase-3 phrase-resources">
			<hr>
		</div>
	</div>
</div>

<div id="resources-section-2">
	<div class="container">
		<div class="row marginTop100">
			<div class='col-md-12'>
				<div class="col-sm-6">
					<%= link_to 'tel:+18887785491' do %>
						<div class=" resources-contact-div text-center black marginTop50 hvr-ripple-out regular">
						+1 (888) 778-5491&nbsp;&nbsp;&nbsp;<br class="hide-until-1200">
						<%= image_tag 'contact-phone-logo.png', class: 'resources-contact-logo' %>	
						</div>
					<% end %>
				</div>
				<div class="col-sm-6">
					<%= link_to 'mailto:support@opendrives.com' do %>
						<div class="resources-contact-div text-center blue marginTop50 hvr-ripple-out-blue regular">
						support@opendrives.com&nbsp;&nbsp;&nbsp;<br class="hide-until-1200">
							<%= image_tag 'contact-mail-white-logo.png', class: 'resources-contact-logo' %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="resources-section-3">
	<div class="container">
		<div class="row marginTopBottom100">
			<div class="col-md-12 text-center">
				<h3><span class="light">contact us or fill out the support request form and one of our</span> specialists will contact you to resolve your issue as soon as possible.</h3>
				<hr class="hr-anim-resources-form">
			</div>
			<div class="col-md-12 marginTop50" id="resource-form">
				<%= render 'resources_form' %>
			</div>
		</div>
	</div>
</div>

<div id="resources-section-5">
	<div class="container marginTop100">
		<ul class="nav nav-tabs nav-justified">
		  <li>
		  	<a data-toggle="tab" href="#faqs" class="faqs-tab">
		  		<%= image_tag 'resources-faqs-logo.png' %>
		  		<br><br>
		  		<p class="regular">faqs</p>
		  	</a>
		  </li>
		  <li>
		  	<a data-toggle="tab" href="#support-document" class="support-document-tab">
		  		<%= image_tag 'resources-support-document-logo.png' %>
		  		<br><br>
		  		<p class="regular">documentation</p>
		  	</a>
		  </li>
		</ul>
	</div>
</div>

<div id="resources-section-6">
	<div class="container">
		<div class="tab-content marginBottom100">
		  <div id="faqs" class="tab-pane fade in active">
		  	<div class="row resources-tab anim">
		  		<div class="col-md-12 text-center">
		  			<h3 class="bold">frequently asked questions</h3>
		  			<hr class="hr-anim-resources-section-6">
		  			<br><br>
			  		<div class="panel-group" id="accordion">
			  			<% @faqs.each_with_index do |faq, i| %>
						  	<div class="panel panel-default text-left">
							  	<a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i %>">
								    <div class="panel-heading">
								      <h4 class="panel-title">
								        <p class="question">Q: <%= faq[0] %></p>
								        <span class="panel-minus">-</span>
								        <span class="panel-plus">+</span>
								      </h4>
								    </div>
							    </a>
							    <div id="collapse<%= i %>" class="panel-collapse collapse">
							      <div class="panel-body">
							      	<p class="lead">A: <%= faq[1].html_safe %></p>
							    	</div>
							    </div>
							  </div>
						  <% end %>
						</div>
		  		</div>
		  	</div>
		  </div>
		  <div id="support-document" class="tab-pane fade">
		  	<div class="row resources-tab anim">
		  		<div class="col-md-12 text-center">
		  			<h3 class="bold">Documentation</h3>
		  			<hr class="hr-anim-resources-section-6">
		  			<br><br>
		  		</div>
		  		<div class="col-md-6 col-md-offset-3">
		  			<table class="table table-hover text-right">
					    <tbody>
					    	
						      <tr>
						        <td>
						        	<a href="/support_documents/Open_Drives_Ghost_Mounts.pdf" class="link-download" target="_blank">
						        		<%= image_tag 'resources-support-document-logo-black.png', class: 'logo-tab-content' %>
						        	</a>
						        </td>
						        <td class="bold">
						        	<a href="/support_documents/Open_Drives_Ghost_Mounts.pdf" class="link-download" target="_blank">
						        		am i ghost mounting my automount on my mac?
						        	</a>
						        </td>
						      </tr>
					    	
					      <tr>
					        <td>
					        	<a href="/support_documents/Open_Drives_NFS_8.1_Setup.pdf" class="link-download" target="_blank">
						        		<%= image_tag 'resources-support-document-logo-black.png', class: 'logo-tab-content' %>
						        	</a>
					        </td>
					        <td class="bold">
					        	<a href="/support_documents/Open_Drives_NFS_8.1_Setup.pdf" class="link-download" target="_blank">
					        		getting nfs setup and connected to windows 8.1E
					        	</a>
					        </td>
					      </tr>
					      <tr>
					        <td>
					        	<a href="/support_documents/Configuring_Managed_Snapshot.pdf" class="link-download" target="_blank">
					        		<%= image_tag 'resources-support-document-logo-black.png', class: 'logo-tab-content' %>
					        	</a>
					        </td>
					        <td class="bold">
					        	<a href="/support_documents/Configuring_Managed_Snapshot.pdf" class="link-download" target="_blank">
					        		configuring managed snapshots
					        	</a>
					        </td>
					      </tr>
					      <tr>
					        <td>
					        	<a href="/support_documents/Compatability_Matrices.pdf" class="link-download" target="_blank">
					        		<%= image_tag 'resources-support-document-logo-black.png', class: 'logo-tab-content' %>
					        	</a>
					        </td>
					        <td class="bold">
					        	<a href="/support_documents/Compatability_Matrices.pdf" class="link-download" target="_blank">
					        		compatibility matrices
					        	</a>
					        </td>
					      </tr>
					      <tr>
					        <td>
					        	<a href="/support_documents/Best_Practices_One_Sheet.pdf" class="link-download" target="_blank">
					        		<%= image_tag 'resources-support-document-logo-black.png', class: 'logo-tab-content' %>
					        	</a>
					        </td>
					        <td class="bold">
					        	<a href="/support_documents/Best_Practices_One_Sheet.pdf" class="link-download" target="_blank">
					        		best practices one sheet
					        	</a>
					        </td>
					      </tr>
					    </tbody>
					  </table>
		  		</div>
		  	</div>
		  </div>
		</div>
	</div>
</div>







