<% @page_title = 'Resources' %>
<div id="resources-section-1">
	<%= image_tag 'resources-intro.png', class: 'marginTopIntro' %>
	<div class="resource-intro-anchor text-center">
		<div class="phrase-1 phrase-resources light">
			we're here
		</div>
		<div class="phrase-2 phrase-resources bold">
			to help
		</div>
		<div class="phrase-3 phrase-resources">
			<hr>
		</div>
	</div>
</div>

<div id="resources-section-2">
	<div class="container">
		<div class="row marginTop100">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h3 class="huge"><span class="light">you're our</span> #1 priority</h3>
				<hr class="hr-anim-resources-section-2">
			</div>
			<div class="col-md-12 text-center">
				<br><br>
				<p><span class="resources-opacity">OpenDrives delivers</span> <strong class="big">advanced technical support</strong><span class="resources-opacity"> from industry professionals with</span> <strong class="big">decades</strong> <span class="resources-opacity">of hands-on experience building</span> <strong class="big">facilities</strong><span class="resources-opacity"> and designing workflows. Every member of the OpenDrives support team has years of industry experience and the expertise you need to diagnose and resolve issues in a </span><strong class="big">timely and efficient manner</strong><span class="resources-opacity">. From post-production to VFX to motion picture and television production, our team of support engineers has been at the </span><strong class="big">forefront of media &amp; entertainment technology</strong><span class="resources-opacity"> for decades. And they’re at your disposal. Because we know when it’s your data, standard isn’t good enough.</span></p>
			</div>
			<div class='col-md-12'>
				<div class="col-sm-4">
				<%= link_to 'tel:+18887785491' do %>
					<div class=" resources-contact-div text-center black marginTop50 hvr-ripple-out regular">
						+1 (888) 778-5491&nbsp;&nbsp;&nbsp;<br class="hide-until-1200">
						<%= image_tag 'contact-phone-logo.png', class: 'resources-contact-logo' %>	
					</div>
				<% end %>
			</div>
			<div class="col-sm-4">
				<%= link_to 'mailto:support@opendrives.com' do %>
					<div class="resources-contact-div text-center blue marginTop50 hvr-ripple-out-blue regular">
						support@opendrives.com&nbsp;&nbsp;&nbsp;<br class="hide-until-1200">
						<%= image_tag 'contact-mail-white-logo.png', class: 'resources-contact-logo' %>
					</div>
				<% end %>
</div>
<div class="col-sm-4">
				<%= link_to 'https://support.opendrives.com/hc/en-us', target: '_blank' do %>
					<div class=" resources-contact-div text-center black marginTop50 hvr-ripple-out regular">
						create a support ticket&nbsp;&nbsp;&nbsp;<br class="hide-until-1200">
						<%= image_tag 'contact-ticket-logo.png', class: 'resources-contact-logo' %>
					</div>
				<% end %>
			</div>
			</div>
		</div>
	</div>
</div>

<div id="resources-section-3">
	<div class="container">
		<div class="row marginTopBottom100">
			<div class="col-md-12 text-center">
				<h3><span class="light">contact us or fill out the support request form and one of our</span> specialists will contact you to resolve your issue as soon as possible.*</h3>
				<hr class="hr-anim-resources-form">
				<br>
				<p>*During standard business hours.</p>
			</div>
			<div class="col-md-12 marginTop50" id="resource-form">
				<%= render 'resources_form' %>
			</div>
		</div>
	</div>
</div>

<div id="resources-section-4">
	<div class="container">
		<div class="row marginTopBottom100">
			<div class="col-md-12 text-center">
				<h2><span class="light">superior support and</span> faster resolution</h2>
				<hr class="hr-anim-resources-section-4">
				<br><br>
				<p class="quote anim">“Out of all of the hardware and software vendors we use, OpenDrives hands down has the best support. OpenDrives has continually helped support our endeavors and what really sets them apart from the competition is their response time and knowledge. As a business owner, I feel confident with them on my team and taking care of those critical infrastructure issues so I can focus on what matters most, running my business."</p>
				<p><small>Gresham Lochner, Locktix</small></p>
			</div>
		</div>
	</div>
</div>

<div id="resources-section-5">
	<div class="container">
		<ul class="nav nav-tabs nav-justified">
		  <li class="active">
		  	<a data-toggle="tab" href="#support-service">
		  		<%= image_tag 'resources-support-service-logo.png' %>
		  		<br><br>
		  		<p class="regular">support service</p>
		  	</a>
		  </li>
		  <li>
		  	<a data-toggle="tab" href="#faqs" class="faqs-tab">
		  		<%= image_tag 'resources-faqs-logo.png' %>
		  		<br><br>
		  		<p class="regular">faqs</p>
		  	</a>
		  </li>
		  <li>
		  	<a data-toggle="tab" href="#support-document" class="support-document-tab">
		  		<%= image_tag 'resources-support-document-logo.png' %>
		  		<br><br>
		  		<p class="regular">support documents</p>
		  	</a>
		  </li>
		  <li>
		  	<a data-toggle="tab" href="#videos" class="videos-tab">
		  		<%= image_tag 'resources-videos-logo.png' %>
		  		<br><br>
		  		<p class="regular">videos</p>
		  	</a>
		  </li>
		</ul>
	</div>
</div>

<div id="resources-section-6">
	<div class="container">
		<div class="tab-content marginTopBottom100">
		  <div id="support-service" class="tab-pane fade in active">
		  	<div class="row resources-tab anim">
		  		<div class="col-md-8 col-md-offset-2 text-center">
				    <h3 class="huge"><span class="light">our support</span> promise</h3>
				    <hr class="hr-anim-resources-section-6">
				  </div>
				  <div class="col-md-12 text-center">
				    <br>
				    <p>The OpenDrives Support Option delivers hardware and software support including technical support, onsite response, remote monitoring and resolution, and the installation of non-customer replaceable units. <br> The Open Drives Support Option includes:</p>
				  </div>
				  <div class="col-sm-6 marginTop50 trigger-overlay">
				  	<div class="check-anchor-div">
				  		<%= image_tag 'check.png', class: 'check-image' %>
				  		<div class="mini-overlay mini-overlay-grey"></div>
				  	</div>
				  	<div class="col-xs-10">
				  		<p><strong>Access to online support tools</strong></p>
				  		<p><span class="blue">a</span> - Initiate support requests via multiple channels, including: online chat, web, telephone, or email</p>
				  		<p><span class="blue">b</span> - Search OpenDrives’ technical and support knowledge repository to quickly access critical information</p>
				  		<p><span class="blue">c</span> - Register software, obtain license keys, and download product enhancements, patches, and upgrades</p>
				  		<p><span class="blue">d</span> - Access the OpenDrives Lab interoperability and product lifecycle information</p>
				  	</div>
				  </div>
				  <div class="col-sm-6 marginTop50">
				  	<div class="check-anchor-div">
				  		<%= image_tag 'check.png', class: 'check-image' %>
				  		<div class="mini-overlay mini-overlay-grey"></div>
				  	</div>
				  	<div class="col-xs-10">
				  		<p><strong>Replacement parts delivery</strong> – Parts will be shipped to the customer. Customers are responsible for installation of parts deemed to be customer replaceable units (CRU’s).</p>
				  	</div>
				  	<div class="check-anchor-div">
				  		<%= image_tag 'check.png', class: 'check-image' %>
				  		<div class="mini-overlay mini-overlay-grey"></div>
				  	</div>
				  	<div class="col-xs-10">
				  		<p><strong>Onsite response with replacement parts installation</strong> – Onsite dispatch and installation for parts deemed non-customer replaceable.</p>
				  	</div>
				  	<div class="check-anchor-div">
				  		<%= image_tag 'check.png', class: 'check-image' %>
				  		<div class="mini-overlay mini-overlay-grey"></div>
				  	</div>
				  	<div class="col-xs-10">
				  		<p><strong>Rights to new releases of software</strong> – Access to new software releases with improved features and critical bug fixes to address evolving business needs.</p>
				  	</div>
				  </div>
				  <div class="col-sm-12 marginTop50">
				  	<div class="check-anchor-div">
				  		<%= image_tag 'check.png', class: 'check-image' %>
				  		<div class="mini-overlay mini-overlay-grey"></div>
				  	</div>
				  	<div class="col-xs-10">
				  		<p><strong>Remote monitoring</strong> – Sophisticated remote support technology securely monitors your OpenDrives systems and notifies of potential issues before business is impacted.</p>
				  	</div>
				  </div>
			  </div>
		  </div>
		  <div id="faqs" class="tab-pane fade">
		  	<div class="row resources-tab anim">
		  		<div class="col-md-12 text-center">
		  			<h3><span class="light">find answers to common questions in our</span><br> frequently asked questions</h3>
		  			<hr class="hr-anim-resources-section-6">
		  			<br><br>
		  			<a href="/support_documents/Frequently_Answered_Questions.pdf" class="link-download bold" target="_blank">
			  			<%= image_tag 'resources-support-document-logo-black.png', class: 'logo-tab-content' %>&nbsp;&nbsp;&nbsp;frequently answered questions
			  		</a>
		  		</div>
		  	</div>
		  </div>
		  <div id="support-document" class="tab-pane fade">
		  	<div class="row resources-tab anim">
		  		<div class="col-md-12 text-center">
		  			<h3>having trouble with opendrives? <span class="light">the following documents provide step-by-step guidance for resolving common issues.</span></h3>
		  			<hr class="hr-anim-resources-section-6">
		  			<br><br>
		  		</div>
		  		<div class="col-md-4 marginTop50">
		  			<a href="/support_documents/Open_Drives_Ghost_Mounts.pdf" class="link-download" target="_blank">
			  			<div class="col-xs-2">
			  				<%= image_tag 'resources-support-document-logo-black.png', class: 'logo-tab-content' %>
			  			</div>
			  			<div class="col-xs-10">
			  				<p class="bold">am i ghost mounting my automount on my mac?</p>
			  			</div>
			  		</a>
		  		</div>
		  		<div class="col-md-4 marginTop50">
		  			<a href="/support_documents/Open_Drives_NFS_8.1_Setup.pdf" class="link-download" target="_blank">
			  			<div class="col-xs-2">
			  				<%= image_tag 'resources-support-document-logo-black.png', class: 'logo-tab-content' %>
			  			</div>
			  			<div class="col-xs-10">
			  				<p class="bold">getting nfs setup and connected to windows 8.1E</p>
			  			</div>
			  		</a>
		  		</div>
		  		<div class="col-md-4 marginTop50">
		  			<a href="/support_documents/Configuring_Managed_Snapshot.pdf" class="link-download" target="_blank">
			  			<div class="col-xs-2">
			  				<%= image_tag 'resources-support-document-logo-black.png', class: 'logo-tab-content' %>
			  			</div>
			  			<div class="col-xs-10">
			  				<p class="bold">configuring managed snapshots</p>
			  			</div>
			  		</a>
		  		</div>
		  		<div class="col-md-4 col-md-offset-2 marginTop50">
		  			<a href="/support_documents/Compatability_Matrices.pdf" class="link-download" target="_blank">
			  			<div class="col-xs-2">
			  				<%= image_tag 'resources-support-document-logo-black.png', class: 'logo-tab-content' %>
			  			</div>
			  			<div class="col-xs-10">
			  				<p class="bold">compatibility <br class="hide-in-mobile">matrices</p>
			  			</div>
			  		</a>
		  		</div>
		  		<div class="col-md-4 marginTop50">
		  			<a href="/support_documents/Best_Practices_One_Sheet.pdf" class="link-download" target="_blank">
			  			<div class="col-xs-2">
			  				<%= image_tag 'resources-support-document-logo-black.png', class: 'logo-tab-content' %>
			  			</div>
			  			<div class="col-xs-10">
			  				<p class="bold">best practices <br class="hide-in-mobile">one sheet</p>
			  			</div>
			  		</a>
		  		</div>
		  	</div>
		  </div>
		  <div id="videos" class="tab-pane fade">
		  	<div class="row text-center resources-tab anim">
					<div class="col-md-6">
						<h4 class="house-cards-div">OpenDrives,<br><span class="light">powered by intel</span></h4>
						<br><br>
						<div class="video-thumb-anchor">
							<%= link_to '', data: { toggle: 'modal', target: '#modal-house-cards' } do %>
								<%= image_tag 'resources-houseofcards.png', class: 'video-thumb' %>
								<%= image_tag 'resources-videos-logo.png', class: 'logo-play' %>
							<% end %>
						</div>
						<br><br><br class="hide-in-mobile"><br class="hide-in-mobile">
						<%= link_to('watch now <span class="plus-icon">+</span>'.html_safe, '', data: { toggle: 'modal', target: '#modal-house-cards' }, class: 'link-with-border hvr-shutter-out-horizontal') %>
					</div>
					<div class="col-md-6">
						<h4>OpenDrives delivers<br><span class="light">high performance on deadpool</span></h4>
						<br><br>
						<div class="video-thumb-anchor">
							<%= link_to '', data: { toggle: 'modal', target: '#modal-deadpool' } do %>
								<%= image_tag 'resources-deadpool.png', class: 'video-thumb' %>
								<%= image_tag 'resources-videos-logo.png', class: 'logo-play logo-play-dead' %>
							<% end %>
						</div>
						<br><br><br class="hide-in-mobile"><br class="hide-in-mobile">
						<%= link_to('watch now  <span class="plus-icon">+</span>'.html_safe, '', data: { toggle: 'modal', target: '#modal-deadpool' }, class: 'link-with-border hvr-shutter-out-horizontal') %>
					</div>
				</div>
		  </div>
		</div>
	</div>
</div>


<div id="modal-house-cards" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/p5RNOK5NuSM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div id="modal-deadpool" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BELaZoVldwI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>





