<% @page_title = 'Case Studies' %>
<div id="case-studies-section-1">
	<%= image_tag 'case-studies-intro-image.png', class: 'marginTopIntro' %>
	<div class="phrase-1 phrase-case-studies light">
		seeing is
	</div>
	<div class="phrase-2 phrase-case-studies bold">
		believing
	</div>
</div>

<div id="case-studies-section-2">
		<%= render 'shared/clients_carousel', clients: @clients %>
</div>

<div id="case-studies-section-3" class="">
	<div class="container">
		<div class="row marginTop100">
			<div class="col-md-12 text-center">
				<h2><span class='light'>case studies</span></h2>
				<p class="lead huge"><strong>Forward-thinking Solutions for Forward-thinking Companies</strong></p>
				<hr class="hr-anim-case-studies">
			</div>
		</div>
		<div class="row text-center marginTop100">
			<div class="col-sm-6 no-padding-right">
				<%= link_to case_interior_gone_girl_path do %>
					<div class="case-study-div pull-right-sm case-study-gonegirl anim">
						<%= image_tag 'case-studies-gonegirl.png', class: 'case-studies-img' %>
						<h2 class="h2-gonegirl">GONE<br>GIRL</h2>
						<br><br>
						<p class="lead line-height">Critically acclaimed:<br> OpenDrives Avalanche <br>gives Fox and David Fincher<br> unprecedented 6K <br>post-production workflow.</p>
						<div class="show-on-touch extra-margin">
							<br>
							<%= link_to('more  <span class="plus-icon">+</span>'.html_safe, case_interior_gone_girl_path, class: 'link-with-border hvr-shutter-out-horizontal') %>
						</div>
					</div>
				<% end %>
			</div>
			<div class="col-sm-6 no-padding-left">
				<%= link_to case_interior_joke_path do %>
					<div class="case-study-div pull-left-sm anim">
						<%= image_tag 'case-studies-joke.png', class: 'case-studies-img' %>
						<br><br>
						<%= image_tag 'case-studies-joke-logo.png', class: 'case-studies-joke-logo' %>
						<br><br>
						<p class="lead line-height">Increased performance:<br> OpenDrives helps Joke <br>Productions increase <br>editorial performance and <br>delivers more projects in<br> less time.</p>
						<div class="show-on-touch">
							<br>
							<%= link_to('more  <span class="plus-icon">+</span>'.html_safe, case_interior_joke_path, class: 'link-with-border hvr-shutter-out-horizontal') %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		<div class="row marginTopBottom100">
			<div class="col-md-12 text-center">
				<%= link_to('schedule a demo', contacts_path(anchor: 'contact-section-3'), class: 'link-with-border hvr-shutter-out-horizontal') %>
			</div>
		</div>
	</div>
</div>


