<div class="col-sm-3 <%= color %> hide-in-sm-mobile products-box">
	<%= link_to '', data: { target: "#products-#{img}" }, class: 'to-overlay hvr-underline-from-center' do %>
		<%= image_tag "products-#{img}.png" %>
	<br><br><br class="hide-in-mobile">
	<p class="lead"><%= title.html_safe %></p>
	<% end %>
</div>

<div class="col-sm-3 <%= color %> hide-in-sm-desktop products-box">
	<%= image_tag "products-#{img}.png" %>
	<br><br><br class="hide-in-mobile">
	<p class="lead"><%= title.html_safe %></p>
	<br><br class="hide-in-mobile"><%= '<br>'.html_safe if on_liner?(line) %>
	<%= link_to('more &nbsp;&nbsp;<span class="plus-icon-blue">+</span>'.html_safe, '', data: { target: "#products-mobile-#{img}" }, class: 'to-overlay link-with-border hvr-shutter-out-horizontal') %>
	<div class="product-overlay-mobile"  id="products-mobile-<%= img %>">
		<a href='' class="close-overlay"><strong>X</strong></a>
		<div class="container">
			<div class="row marginTop50">
				<div class="col-md-12">
					<%= image_tag "products-#{img}.png" %>
					<p class="lead huge"><%= title_overlay.html_safe %></p>
					<hr>
					<p class="lead"><%= body_overlay.html_safe %></p>
				</div>
			</div>
		</div>
	</div>
</div>



