<div class="col-md-3 <%= color %>">
	<%= image_tag "products-#{img}.png" %>
	<br><br><br>
	<p class="lead"><%= title.html_safe %></p>
	<br><br><%= '<br>'.html_safe if on_liner?(line) %>
	<%= link_to((fa_icon 'plus', text: 'MORE', right: true), '', data: { target: "#products-#{img}" }, class: 'link-with-border') %>
</div>
