<% @page_title = 'Products' %>
<section id="products-section-1">
	<%= image_tag 'products-intro.png', class: 'marginTopIntro' %>
</section>

<section id="products-section-2">
	<div class="col-md-6 black-background">
		<ul class="nav nav-tabs pull-right text-center">
		  <li class="active">
		  	<a data-toggle="tab" href="#tab-avalanche" class="avalanche-tab">
		  		<%= image_tag 'products-avalanche-logo-active.png' %>
		  		<br><br>
		  		<p>AVALANCHE</p>
		  	</a>
		  </li>
		  <li>
		  	<a data-toggle="tab" href="#tab-spectre" class="spectre-tab">
		  		<%= image_tag 'products-spectre-logo-active.png' %>
		  		<br><br>
		  		<p>SPECTRE</p>
		  	</a>
		  </li>
		  <li>
		  	<a data-toggle="tab" href="#tab-ridgeview" class="ridgeview-tab">
		  		<%= image_tag 'products-ridgeview-logo-active.png' %>
		  		<br><br>
		  		<p>RIDGEVIEW</p>
		  	</a>
		  </li>
		</ul>
	</div>
	<div class="col-md-6 grey-background">
		<div class="col-md-4 col-md-offset-1 text-center">
			<%= link_to((fa_icon 'angle-right 4x', class: 'round-border-link'), '') %>
		</div>
		<div class="col-md-6">
			<p class="lead">THE PEAK OF DATA FILE SYSTEM STRUCTURE: <strong>OPUS SOFTWARE PLATFORM</strong></p>
		</div>
	</div>
	<div class="container">
		<div class="tab-content marginTopBottom100">
			
		  <%= render 'tab', id: 'avalanche',
		  									h3_title: '<span class="light">FOR TRULY MASSIVE DATAFLOWS,<br> NOTHING CAN STOP THE POWER OF</span> <br><strong>AVALANCHE</strong>',
		  									body: 'When performance requirements far exceed the current norms of data storage throughput, Avalanche delivers. Ideal for handling 6K, 8K, High Dynamic Range (HDR), (HFR) and (VR) workflows, <strong>Avalanche</strong> forms the center of your high performance, high throughput workflow.',
		  									h2_title: '<strong>AVALANCHE</strong> <span class="light">GIVES YOU</span>',
		  									features1: ['Up to 9GB/s', 'Multiple concurrent users', 'Seamless integration with all software applications', 'Up to 4.0 GB/s to a single client'],
		  									features2: ['Consistent access latency', 'The ability to edit, render, color and add visual effects faster than ever', 'Editing, compositing and playback of uncompressed 4K and 6K content'], 
		  									link: '' %>
		  
		  <%= render 'tab', id: 'spectre',
		  									h3_title: '<span class="light">IN A DEMANDING<br> MULTI-USER ENVIRONMENT</span> <br><strong>SPECTRE</strong><span class="light"> SHINES</span>',
		  									body: 'As a hybrid SSD/HDD solution, <strong>Spectre</strong> delivers the high performance and high capacity you need when multiple users need instantaneous access to large files and projects. Versatile and powerful, it forms the center of daily workflows from start to finish.',
		  									h2_title: '<strong>SPECTRE</strong> <span class="light">GIVES YOU</span>',
		  									features1: ['Up to 6GB/s', 'The ability to use any format, codec or resolution'],
		  									features2: ['Industry-leading 90+% cache hit accuracy', '3 layers of cache with 6GB/s consistently delivered across the entire Spectre line'], 
		  									link: '' %>

		   <%= render 'tab', id: 'ridgeview',
		  									h3_title: '<span class="light">DATA STORAGE AND,<br> MANAGEMENT MADE EASY</span> <br><strong>RIDGEVIEW</strong>',
		  									body: 'A high-density, ultra-efficient storage solution for customers targeting nearline and active archive use cases, <strong>Ridgeview</strong> is an extremely cost-effective way to get data resiliency, reliability, and accessibility for the long term. Perfect for storing multi-petabyte content libraries in a single, easy-to-manage volume, it delivers unmatched density.',
		  									h2_title: '<strong>RIDGEVIEW</strong> <span class="light">GIVES YOU</span>',
		  									features1: ['Up to 3GB/s', 'Scalability to more than 6 petabytes in a single volume', 'Performance active-archive to store large content repositories that need real-time access'],
		  									features2: ['Ultra density - 576TB in 4 rack units', 'Low cost per terabyte', 'Access to important files while reducing costs and freeing up space on your Tier 1 storage'], 
		  									link: '' %>

		</div>
	</div>
</section>

<section id="products-section-3" class="full-height-twice">
	<div class="container">
		<div class="row marginTop100">
			<div class="col-md-12">
				<%= image_tag 'products-software-snapshot.png' %>
			</div>
		</div>
		<div class="row marginTop100">
			<div class="col-md-12 text-center">
				<p class="lead huge">ADDITIONALLY, ALL <strong>OPENDRIVES</strong><br>PRODUCTS INCLUDE:</p>
			</div>
			<div class="col-md-4">
				<% products1.each do |product| %>
					<div class="col-md-2">
						<%= image_tag 'check.png', class: 'check-image' %>
					</div>
					<div class="col-md-10">
						<%= product %>
					</div>
					<br><br><br>
				<% end %>
			</div>
			<div class="col-md-4">
				<% products2.each do |product| %>
					<div class="col-md-2">
						<%= image_tag 'check.png', class: 'check-image' %>
					</div>
					<div class="col-md-10">
						<%= product %>
					</div>
					<br><br><br>
				<% end %>
			</div>
			<div class="col-md-4">
				<% products3.each do |product| %>
					<div class="col-md-2">
						<%= image_tag 'check.png', class: 'check-image' %>
					</div>
					<div class="col-md-10">
						<%= product %>
					</div>
					<br><br><br>
				<% end %>
			</div>
		</div>
	</div>
</section>













	<div class="container">
		<div class="row">
			<div class="col-md-12">

			</div>
		</div>
	</div>







