<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.png' %>
  <title>OpenDrives<%= " | #{@page_title}" if @page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeg_RmZatJNDbEeg6qg0bOX3XSFJliZV8&callback=initMap"
    async defer></script>
</head>
<body>
	<%= render 'shared/nav' %>
  <div class="preloader"></div>
		<%= yield %>
	<%= render 'shared/footer' %>
</body>
</html>
